[2013-05-15 22:35] mrose17 opened #1 "timezone woes"
hi. i am in us/pacific, and you can probably see where this is going (-;

console.log(new Date());
CronExpression.parse('00 45 08 \* \* 1', function(err, interval) {
  for (var i = 0; i < 5; i++) console.log(interval.next());
});

yields:

Wed May 15 2013 15:34:28 GMT-0700 (PDT)

Mon May 20 2013 00:45:00 GMT-0700 (PDT)
Mon May 27 2013 00:45:00 GMT-0700 (PDT)
Mon Jul 01 2013 00:45:00 GMT-0700 (PDT)

[2013-05-20 20:03] #1 closed, assigned to nobody

[2013-11-04 11:04] pierrocknroll opened #3 "Issue when the next date is in the next month"
Hi and thanks a lot for your great module !

There is a bug with this cron expression :

[code]

The next date here will be 2013-12-05 instead of 2013-11-07 !

Thanks

[2013-11-04 15:33] #3 closed, assigned to nobody

[2014-02-20 17:17] santigimeno opened #6 "Align month range with crontab"
The month range for crontab is [1 - 12] instead of the [0-11] that cron-parser uses. Would you consider change it?

See: http://www.manpagez.com/man/5/crontab/

Thanks!

[2014-02-26 21:26] #6 closed, assigned to harrisiirak

[2014-03-27 18:58] kusold opened #9 "Validation doesn't check for unsupported characters"
The validation is more specific to ranges and general format. If you pass `0 30 13 15 ! *`, it currently doesn't error. This is more important for scenarios in which you accept user input.

[2014-04-01 10:05] #9 closed, assigned to harrisiirak

[2014-04-10 22:59] smazurov opened #11 "Bug with monthly parsing"
test code

[code]

output actual:

[code]

output expected:

[code]

system:

[code]

[2014-04-11 15:09] #11 closed, assigned to harrisiirak

[2014-05-08 06:00] solomon23 opened #12 "days of week not working"
Using mon-fri or jan-feb doesn't appear to e working correctly.

[2014-05-08 20:24] #12 closed, assigned to nobody

[2014-06-04 12:09] mykhailosh opened #16 "defined both day and weekday.."
if defined both day and weekday, the parser should check day OR weekday. This is the same issue as here https://github.com/bunkat/later/issues/11

man 5 crontab:
Note: The day of a command's execution can be specified by two fields — day of month, and day of week. If both fields are restricted (i.e., aren't *), the command will be run when either field matches the current time.

[2014-06-10 15:18] aron opened #17 "The parseSync naming is misleading"
As far as I can see all of these methods apart from the `CronParser.parseFile()` are synchronous in that they call the passed callback before the called method returns.

It would be nice to make this clear in the README and to remove incorrect documentation such as: https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L490

I'm not sure if you can change the api now, but one al

[2014-06-13 22:57] #16 closed, assigned to harrisiirak

[2014-06-13 22:57] #17 closed, assigned to harrisiirak

[2014-06-24 15:46] kusold opened #18 "Broken on the client side due to require('fs') being moved to top level."
In lib/parser.js, this was moved to the top level: `var fs = require('fs');`. This breaks the ability to use cron-parser in the browser. This change was introduced in f59986f3bec440c2193dfb252e86ccfdc6bebbff

[2014-06-24 18:52] #18 closed, assigned to harrisiirak

[2014-09-30 06:14] lazutkin opened #20 "CronExpression#parse should return ES6 compatible iterator"
`CronExpression#parse` should return ES6 compatible iterator in order to use native `for-of` syntax

[2014-09-30 18:42] fir3pho3nixx opened #21 "Does not support '?'"
Do you think it would be possible to add support for '?'. This lib has saved me heaps of time thanks for building it :)

Error: Invalid characters, got value: ?
    at Function._parseField (/usr/local/src/nodejs/voodoo/services/core/node_modules/cron-parser/lib/expression.js:129:11)
    at parse (/usr/local/src/nodejs/voodoo/services/core/node_modules/cron-parser/lib/expression.js:566:36)
    at F

[2014-09-30 19:11] fir3pho3nixx opened #22 "Does not support 'L'?"
Again thanks for building this. This would make it better :)

Error: Invalid characters, got value: L
    at Function._parseField (/usr/local/src/nodejs/voodoo/services/core/node_modules/cron-parser/lib/expression.js:129:11)
    at parse (/usr/local/src/nodejs/voodoo/services/core/node_modules/cron-parser/lib/expression.js:566:36)
    at Function.parse (/usr/local/src/nodejs/voodoo/services/core/n

[2014-10-13 11:26] the-darc opened #25 "Infinite loop for timezones that changes to Summer Time in hour 00:00h"
I got an infinite loop in the code above:

[code]

The cause of it is the code:

[code]

See: https://github.com/harrisiirak/cron-parser/blob/master/lib/date.js#L30

This bug only happens if in your timezone the DST starts at 00:00h. For example, in the timezone BRT that starts the DST in 19/10/2014 00:00h, the function `addDay`for the date 18/10/2014 00:00:00 results in the date 18/10/2014 23:00:

[2014-10-13 11:48] #25 closed, assigned to harrisiirak

[2014-10-21 17:38] the-darc opened #28 "Monthly and yearly cron errors"
I found this issue in the released version 0.4.4.

**For the code:**

[code]

**I got the output:**

[code]

**If i run the same code in the version 0.4.3 it works fine:**

[code]

The same problem seems to happen with the expression _'0 0 0 1 \* *'_.

[2014-10-21 18:59] #28 closed, assigned to harrisiirak

[2014-11-05 09:22] gustavfagerlind opened #29 "wrong get next time"
[code]

gives:

[code]

I think it should be one trigger on friday the 31th aswell?

[2014-11-11 11:45] #29 closed, assigned to harrisiirak

[2014-11-12 12:19] mykhailosh opened #30 "freeze, if value is out of range"
For example, if you try to parse cron expression like '0 0 4 30 2 *', you got freeze. I know, this is incorrect expression, because february have < 30 days, but i guess, there should be exception, or error, but not freezing.

[2014-11-17 23:01] #30 closed, assigned to harrisiirak

[2014-12-05 14:56] benzen opened #32 "remove parseExpressionSync??"
Reading then code it's not entirely clear if the sync version of parsing is the one to use or if the async is the one to use.

Can you give a head's up on this. Maybe via the readme

[2015-02-02 22:53] #20 closed

[2015-02-02 22:53] #32 closed

[2015-02-04 21:13] backspace opened #33 "Seconds unsupported?"
Hello, thanks for this library, very useful.

The documentation mentions that seconds are optional, but when I specify them, it appears to have no effect. For example:

    parser = require('cron-parser');
    interval = parser.parseExpression('* * * * * *');
    interval.next(); // => Wed Feb 04 2015 16:06:00 GMT-0500 (EST)
    interval.next(); // => Wed Feb 04 2015 16:07:00 GMT-0500 (EST)
    in

[2015-02-04 22:10] harrisiirak commented on #33
Hi! Thank you for reporting that issue. Seems that it broke down after I refactored some code a bit, because it was working in version 0.3. I'll let you know when it's fixed.

Regards,
Harri

[2015-02-04 22:48] #33 closed

[2015-02-04 22:50] harrisiirak commented on #33
It should be working as expected. Let me know if you're still experiencing any issue.

[2015-02-04 22:58] backspace commented on #33
Success, thanks so much!

[2015-02-18 04:33] ncb000gt opened #34 "Hangs finding invalid values"
I'm considering using this module to replace the CronTime code in the `cron` project. However, one of my tests is failing to do anything because this module runs into the same issue that my CronTime code used to. I'm sharing the issue here so that you can take a look at what I did and see if it works for you or in case you have a better alternative.

https://github.com/ncb000gt/node-cron/issues/79

[2015-02-18 07:37] harrisiirak commented on #34
Hello! I'll look into this soon as possible. Thank you for reporting! :)

[2015-02-18 14:54] ncb000gt commented on #34
No problem. My "fix" was really a bandaid where I didn't allow the module to hang and just threw an error regarding the faulty value.

Another option would be to check the dates to see if they exist and force them to whatever the maxes are. For instance, if someone specifies a date of `1/99/2015` just scale it back to 31 for the month of January and then warn them of this as well.

Anyway, thanks!

[2015-03-09 10:06] harrisiirak commented on #34
At the moment it's throwing an exception when one of the fields is out of the range. Usually this "strict mode" is good and gives a feedback to the user when something funky is going on with input pattern.

I don't have any plans to change this behaviour in current (0.6) minor version branch, but I had plans to add some non-standard cron features (like L, W etc.) in the next minor release (0.7), w

[2015-03-31 14:46] giovanebribeiro opened #37 "'endDate' option not working"
Hello,

I'm testing the example code with 'currentDate' and 'endDate' option, but, the endDate option is not respected.

Here's the code:

[code]

Am I doing something wrong?

Thanks!

[2015-04-02 11:42] harrisiirak commented on #37
Hello!

"Tue, 31 Mar 2015 12:00:00 BRT" isn't a valid input for Date constructor.

[2015-04-21 11:50] #37 closed

[2015-05-03 19:07] alonisser opened #38 "Seconds are not part of the usual cron spec!"
using them without explicit warning about that is quite broken.

I think that seconds should be allowed only with a specific flag/boolean, and not in causal parsing. just caused me an evil an unexpected bug

[2015-05-03 23:27] harrisiirak commented on #38
Hi,

Sorry to hear that you had an issue with that. In the readme there is explicitly mentioned that seconds field is optional field. If you're not providing second field, it's working like specified in crontab standard, and if you're providing value for second field, it works in extended mode.

Can you provide me exact example which caused an issue?

BR,
Harri

[2015-05-04 05:55] alonisser commented on #38
thanks for the kind reply @harrisiirak .I noticed that the docs specify seconds, unfortunately I noticed that only after I had the bug.. a quick visual look at the github page shows a drawing very similar to all  cron descriptions, but the rest don't have seconds.. that's why I missed that!. the basic problem was I was passing ``` 15 23 * * `1-5 *``` (23:15 monday-friday) so I had an extra ```*```

[2015-06-26 11:20] harrisiirak commented on #34
@ncb000gt can I close this one?

[2015-06-26 11:21] #38 closed

[2015-07-16 09:39] #34 closed

[2015-09-01 07:49] yonjah opened #43 "is it a bug isMonthWildcardMatch ?"
Seems like this line -
https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L370
[code]

should be
[code]

I Haven't used the package yet, so didn't have any issues but noticed it when browsing the code

[2015-09-01 08:34] harrisiirak commented on #43
Hey! Thank you for noticing that. Gonna look this later, may be a typo.

[2015-09-02 11:29] dprentis opened #44 "Add support for UTC cron strings"
Would be useful to be able to interpret cron strings as being in UTC rather than local time.

[2015-09-02 21:05] harrisiirak commented on #44
Hey Daniel!

What do you exactly mean? You can provide `startDate` and `endDate` as you wish in the parser options.

BR

[2015-09-02 21:09] #43 closed

[2015-09-03 08:56] dprentis commented on #44
Well, for example if I have this cron strong: 0 0 10 * * *, then I need it to be interpreted as 10:00 am UTC. Currently it gets interpreted according to the computers local time, so if it's currently 8:00 am local time, then next() will return a date with 10:00 am local time (which could be anything compared to UTC, depending on where I'm located).

Use case is that I want to use persisted cron st

[2015-09-03 09:44] harrisiirak commented on #44
Yes and no, I could add timezone support (not only UTC!), but this currently achievable by providing your converted date (in UTC) as `startDate` option value.

I must think about adding timezone support, because ideally I want to keep this library as small as possible and keep it dependency free. So I still would recommend to use external library to do date conversion from one timezone to another.

[2015-09-03 11:06] dprentis commented on #44
Ok, not sure I follow how startDate affects the way the cron string is interpreted. Doesn't it just denote start of the interval in which iterations can happen? Maybe I can try this later, but I was under the impression that next always returns a local time according to the cron string.

Converting the date from one timezone to another is not the issue - yes, I could add x hours to the returned va

[2015-09-03 12:05] harrisiirak commented on #44
Yes, you're correct, by the default it always returns local time, expect when you provide `startDate` which denotes the beginning of the iteration.

If you meant that ` utc` option flag just sets local time automatically to UTC then that still can achieved by setting `startDate` yourself. This option can be added, but that doesn't change much, only making things a little bit cleaner. The logic you

[2015-09-03 12:31] dprentis commented on #44
Ok, maybe an example would help - can you give me an example in code of how to set startDate to interpret the cron string as UTC?

eg. I have "0 0 10 * * *" and "0 */5 * * *" In both cases I want to get the next iteration (from now) as a date.

In the first case the timezone is important, because a specific hour is specified - I want "0 0 10 * * *" to be interpreted as UTC (in my particular timezo

[2015-09-03 19:03] harrisiirak commented on #44
I think I got what you meant. Anyhow, it was also good time to clean up Date class pollution. From now on `next()` method returns extended Date instance (can't extend Date class directly so doing this in a little bit other way) what has `toUTC()` method. You have no need specify any extra configuration option.

See README for updated usage.

PR: https://github.com/harrisiirak/cron-parser/pull/45
B

[2015-09-04 07:44] dprentis commented on #44
ok, thanks for your time! I haven't had time to check this through properly or test it.

IMHO, I would probably stick to returning a standard Date if possible, implement any internally used Date methods as functions that take Date as a first parameter, to prevent polluting the Date prototype.

I am not sure how the toUTC method solves the problem - looks like it returns a Date-like (CronDate) obje

[2015-09-05 08:47] harrisiirak commented on #44
Actually you're getting back  `Date ` instance but with some additional methods.

Isn't that what you want in your first case?

As you described your uses cases... isn't that application itself that should decided what logic in what context it should use? Basically if you want use it locally use it as is. And if you want universal time version you call  `toUTC() ` which returns shifted  `Date` ins

[2015-09-05 11:41] dprentis commented on #44
So finally got that pull request to you: https://github.com/harrisiirak/cron-parser/pull/46

Basically, setting utc to true in options will cause the schedule calculation to use the \*UTC\* Date object methods instead of the local time ones.

All tests pass. I added a new unit test, which reflects the basic example here - I expect (hope) other cron strings will 'just work', but let me know if you

[2015-09-05 12:10] dprentis commented on #44
Hopefully my pull request will make things more apparent - try running my unit test with the code base in master. You should see that if you don't shift, the first check will fail. If you do shift in both cases, the second check will fail.

Basically the app wants to deal with cron strings that reflect the time in UTC and it doesn't want to have to decide if it should shift the result or not, beca

[2015-09-05 14:29] harrisiirak commented on #44
Yep, that makes a little bit more sense. Thanks, looks good! Going to look into that more deeply on tomorrow's evening or Monday.

Still going to merge #45 too, because it also addresses some other issues. Let's see in which order I'm going to merge them (there shouldn't be any conflicts thou).

[2015-09-12 16:53] harrisiirak commented on #44
Merged #44 and #45

[2015-09-12 16:53] #44 closed

[2015-11-05 20:15] lightswitch05 opened #48 "Feature Request: Previous interval"
I'm using cron-parser to write an archiving tool. A given cron expression determines in what intervals files get archived. Right now I'm saving the archive file using the archive-creation date, but it would be really nice if there were a way to get the previous interval.

For example, if I created files yesterday (Nov 4th), and I archived them daily `0 0 * * *` then my resulting archive would be n

[2015-11-26 14:37] harrisiirak commented on #48
Hey @lightswitch05!

I had some thoughts about that functionality before, but I really haven't had chance to work on it or had practical need for that functionality.

Your example actually makes sense. Theoretically it should be doable, but I need some time to investigate possible changes and regressions.

BR,
Harri

[2015-12-01 17:00] bvaughn opened #49 "Add browser support"
The `parseExpression` function could be useful for browser-based users. Unfortunately, importing the library via webpack causes an error:

[code]

Would you be willing to package this in such a way as to either expose `CronExpression.parse` or allow the `parseExpression` to be used without triggering the import?

[2015-12-01 17:05] kusold commented on #49
I think webpack may be doing something weird here. `fs` is only required inside of the `parseFile` function. I have successfully used this package on the client side with `component` and `browserify`.

[2015-12-01 17:32] bvaughn commented on #49
Gotcha. I think the Webpack static analysis in 1.x isn't that great.
Guess I'll close this issue though as it doesn't really seem like your problem.
Thanks for the speedy response.

[2015-12-02 17:01] bvaughn commented on #49
Actually, re-opening this issue with a potential (easy) solution for you to consider. Webpack and Browserify support the following approach:
https://gist.github.com/defunctzombie/4339901#replace-specific-files---advanced

This means that if you'd be willing to add the following to your `package.json`...
[code]
...then Webpack 1.x users wouldn't be burned by the static analysis issue I originally r

[2015-12-02 18:55] #49 closed

[2015-12-02 19:19] bvaughn commented on #49
Thanks for accepting the PR! Any chance we could get a `1.0.2` release with this updated package JSON? :)

[2015-12-02 19:39] harrisiirak commented on #49
@bvaughn np, done.

[2015-12-02 23:17] bvaughn commented on #49
Thanks again! :)

[2015-12-15 09:17] xpepermint opened #51 "Every second behavior"
[code]

Is this expected result (the two dates are the same)? I would expect the `next` to be 1sec in the future.

[2015-12-15 10:53] #51 closed

[2015-12-15 10:54] xpepermint commented on #51
great!

[2015-12-15 10:56] harrisiirak commented on #51
Np! Thank you for reporting that one. It's really weird that I didn't notice that before, because it's quite obvious as I see it now. Released as "1.1.0".

[2016-01-27 14:57] zxbin2000 opened #52 "Invalid explicit day of month definition"
0 47 22 * * 3

[ERROR] error - Caught exception: Error: Invalid explicit day of month definition
    at CronExpression._findSchedule (/Users/***/dev/analy-engine/node_modules/cron-parser/lib/expression.js:388:15)
    at CronExpression.next (/Users/***/dev/analy-engine/node_modules/cron-parser/lib/expression.js:455:23)
    at scheduleNextRecurrence (/Users/***/dev/analy-engine/node_modules/node-sch

[2016-01-27 16:34] dimfeld commented on #52
Looks like this was fixed in 0.6.3, though I'm not 100% sure. In the latest code on npm, that exception is thrown from line 408, not 388, so updating the package may help.

[2016-01-27 17:11] harrisiirak commented on #52
Latest published version is actually 1.1.0 (0.6.3 is quite old). Can't reproduce this issue. Provided pattern iterates as expected (I'm using the latest version).

[2016-02-04 03:03] zxbin2000 commented on #52
Thanks~

[2016-02-04 03:03] #52 closed

[2016-02-08 21:51] ssolbak opened #54 "Issue on interval.getNext()"
var interval = CronParser.parseExpression('* 2 * * *', {currentDate: new Date('2016-02-08T21:49:22.527Z')});
console.log(interval.next());

I get the error "Invalid explicit day of month definition"

[2016-02-18 16:32] devilj commented on #54
same here. here's my test:
[code]

i briefly looked into the code and it seems to me like the issue is in logic to handle Feb 29 on leap years.

[2016-02-18 17:28] diegosanchez opened #55 "It might be an issue"
I'm afraid of making a mistake but I have to ask you guys.

Having the code below:
[code]

I got the out listed below:

silly: Cron configuration: 03 17,18 * * * (index.js)
silly: Time debugging:Thu Feb 18 2016 17:02:55 GMT+0000 (UTC) (index.js)
silly: Time debugging:Thu Feb 18 2016 17:03:00 GMT+0000 (UTC) (index.js)
silly: Time debugging:Thu Feb 18 2016 17:03:05 GMT+0000 (UTC) (index.js)
silly: T

[2016-02-18 17:28] diegosanchez commented on #55
Sorry, I've missed the project.

[2016-02-18 17:28] #55 closed

[2016-02-18 19:45] harrisiirak commented on #54
@ssolbak, @devilj - sure that your input string is correctly formatted and doesn't contain tab characters. @devilj tried your example and I'm not getting the error.

[2016-02-18 19:50] harrisiirak commented on #54
And @devilj are you sure that you're using the latest version (1.1.0) of this library, because line numbers in your provided stacktrace doesn't match with the latest version.

[2016-02-18 21:09] devilj commented on #54
@harrisiirak, yes, updating to 1.1 helps for this test case.

[2016-02-18 22:13] #54 closed

[2016-03-10 19:11] manish-alphonso-tv commented on #48
I need. this as well. I am using **cron** and **cron-parser** it to write a scheduler which can keep a job running between two cron job specs, e.g. every day **from** 5pm **to** 6pm. or **from** Monday 1pm **to** Tuesday 5am.

My need is when my scheduler starts, I need to know if the 'current' date/time falls between job's date/time range (i.e. between job.from and job.to). To figure that out, I

[2016-03-21 17:35] owenallenaz commented on #48
I have a similar need in this case. I was wondering if it would be possible to have reset() take an optional Date object. If passed, it would simply reset it to that date in time. It seems like that would a few lines of code and would provide for mine and the above use-cases.

[2016-03-21 17:41] owenallenaz opened #58 "next() no longer returns a Date"
In previous versions next() used to return a Date, now it returns a CronDate. I was wondering if that change was done with intent or was accidental.

If it was intentional then I have a couple possible ideas:

1. From looking at the code it appears that date.js is basically just a proxy to moment(), my question is why not just cut out the middle-man, eliminate date.js and have next() actually retu

[2016-03-21 19:51] harrisiirak commented on #58
@owenallenaz yes, that change was introduced in latest version `2.0.0` as part of timezone handling improvements.

I would rather like to retain current CronDate abstraction as it provides compatibility (well yes, currently only partially) for Date class API. Sorry that documentation didn't reflect all the latest changes.

So what I'm going to do:

- Expose `toDate()` (`2.0.1`)
- Add missing Date

[2016-03-21 19:57] santigimeno commented on #58
I think it's a good idea. In fact I think I had a `toDate()` method for some time when I was developing the functionality.

[2016-03-25 01:06] dr-dimitru opened #61 ".validate() method"
Does this library has a `.validate()` method (*to validate passed string, as eligible CRON instruction*)?

[2016-03-25 14:14] harrisiirak commented on #61
@dr-dimitru `parse()` is actually throwing an exception if the expression is in invalid format.

[2016-03-25 17:15] dr-dimitru commented on #61
Okay, then take it as feature suggestion to add `.validate()` or `.isValid()` method.
I can PR this feature, if you're agree with me. Tell me which method name is more convenient for this lib and I will send a PR

[2016-03-26 23:51] santigimeno commented on #58
Sorry for being too picky, but shouldn't the `toDate()` addition have been a `semver-minor` instead of a `semver-patch` change?

[2016-04-02 03:07] owenallenaz opened #62 "next() on newly parsed expression returning past value"
We have a job that runs every minute, and it causes an issue where parseExpression() will return a job whose first run time is actually in the past. Here's a simply reproduction:

[code]

From the output you can see that the first console.log of what time it is now and the parseExpression that occurs after it yet has a date stamp preceding what time it actually is. The only way i'm able to consist

[2016-04-14 14:37] harrisiirak commented on #62
@owenallenaz sorry about the delay... gonna look this later.

[2016-04-28 14:24] themaarten opened #64 "System time is used as currentDate when supplying value 0"
Cron-parser ignores the supplied `currentDate` and falls back to the system time for the options object below.
[code]

[Line 610 of expression.js](https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L610) causes this problem. It test falsyness where it should test for `undefined` or `null`.

[2016-04-28 15:47] harrisiirak commented on #64
@themaarten a good point. Going to improve this soon.

[2016-07-10 10:42] redbmk opened #66 "DST shift handled incorrectly sometimes"
Please let me know if I'm understanding something incorrectly

The following javascript
[code]

Produces this output

[code]

I would expect that if you want something to happen once a day, it should happen once and only once.

It seems to handle both timeshifts in Berlin properly. However, New York is a little weird.

When NY goes backward from 2 and ends up having two 1:30s, it handles it proper

[2016-07-18 14:24] JohnyDays commented on #62
When you convert a date to a string you lose millisecond precision, that is why this happens

[2016-07-18 14:26] JohnyDays commented on #62
correct code would be
[code]

[2016-07-19 23:06] lancecarlson opened #67 "setters on CronExpression"
Do you think this might something you'd consider? At the moment I have to manage the cron string (which is fine) but it seems like it would be more elegant if this library allowed you to set the hour or day and get back the toString() version of the CronExpression.

[2016-07-19 23:53] lancecarlson commented on #67
Timezone considerations would be nice/interesting too.

[2016-07-20 14:41] #62 closed

[2016-07-20 14:42] #58 closed

[2016-07-20 14:42] #61 closed

[2016-07-20 14:44] harrisiirak commented on #67
I got your point but this rather sounds like a separate module, which handles that abstraction and generates a valid cron string as the result.

[2016-07-21 17:22] lancecarlson commented on #67
Would be a pretty tiny module. Pretty easy to do myself, but would be nice if this module did it for me! Wouldn't add much to the API or size of the project.

[2016-07-23 11:29] dorsha opened #68 "Missing license file"
MIT license file should be added to be able to use this great project.

[2016-07-26 21:30] santigimeno commented on #66
I can confirm the bogus behavior. I'll try to look into it when I have time.

[2016-08-22 17:54] #67 closed

[2016-08-22 17:57] #66 closed

[2016-08-22 18:02] #68 closed

[2016-08-26 10:57] redbmk commented on #66
Yup, looks like that fixed it :+1:

[2016-10-03 14:27] JohnyDays opened #72 "Stuck in while loop indefinitely"
I found a minimal repro case, it always gets stuck in the 27th cycle (script never ends)
[code]
I have also tried to recreate the parser on every iteration of the loop, but the results were the same.
Any idea what it might be?
Thanks

[2016-10-03 14:33] santigimeno commented on #72
It looks again a DST transition issue. Will look into it when time permits

[2016-10-03 14:33] santigimeno commented on #72
Thanks for the report

[2016-10-03 14:34] JohnyDays commented on #72
Can i somehow disable timezone handling? I don't need it for this particular case

[2016-10-03 14:35] santigimeno commented on #72
I would use the latest `1.x.x` version.

[2016-10-03 14:38] JohnyDays commented on #72
That seems to work perfectly, thanks! If you need some more information when debugging the issue just hit me up! :+1:

[2016-10-03 14:39] harrisiirak commented on #72
@santigimeno @JohnyDays a good catch. Let me know how this is going. Thanks for the reporting @JohnyDays!

[2016-10-04 17:46] santigimeno commented on #72
I've been looking a little into this. Changing your code to use `moment` with timezone information should do it:

[code]

[2016-10-04 17:54] santigimeno commented on #72
For the issue itself, I have reduced the case to this. It's due to how `moment.startOf()` behaves. I don't know if it's a bug or it works as expected.

[code]

It's output being:
[code]

OTOH, if the timezone is explicitly used, it works as expected
[code]
It's output being
[code]

Thoughts? /cc @harrisiirak @mj1856

[2016-10-06 07:49] santigimeno commented on #72
It looks like this issue: https://github.com/moment/moment/issues/2749

[2016-10-08 12:25] santigimeno commented on #72
Tentative fix https://github.com/harrisiirak/cron-parser/pull/73. /cc @harrisiirak @JohnyDays

[2016-10-09 12:07] panxue opened #74 "Does not support '0/2 * * * *'?"

[2016-10-09 12:52] harrisiirak commented on #74
@panxue see #21

[2016-10-13 14:04] leoslopez opened #75 "Problem when define unordered hours list"
I have a cron definition to run at minute 0 past hour 1, 9, and 11:

- When I defined in this way: 0 9,11,1 * * * (the job is not running at 1)
- When I defined in this way: 0 1,9,11 * * * (it's running correctly)

I am using [node-schedule](https://github.com/node-schedule/node-schedule) and I have reported the issue to them, too.

Thanks!

[2016-10-16 17:57] #72 closed

[2016-10-16 18:35] harrisiirak commented on #74
@panxue didn't find anything about that from cron's spec. Anyhow, the correct format is `*/2 * * * *`.

[2016-10-16 19:16] #64 closed

[2016-10-16 19:16] #75 closed

[2016-10-17 02:21] panxue commented on #74
sorry, i mean ' 0-59/2 * * * * '

[2016-10-17 07:18] harrisiirak commented on #74
@panxue what do you exactly mean by "does not support"? I'm testing this locally and it's working as expected.

[2016-10-17 07:31] jrphub opened #76 "To modify cron expression from one timezone to UTC"
I need something like this:

Let me give you one example:

My local timezone is IST i.e. GMT+5.30.

Current local time is: 11:20 AM.

I want a job to run in 45 min of every hour.

So, my cron expression: 45 * * * *

Hence I am expecting my job to run after 25 min ( as starting time is 11:45 AM)

but my job is running as per UTC.

Current time in UTC : 05:50 AM

As per cron expression 45 * * * , th

[2016-10-17 08:10] santigimeno commented on #76
@jrphub does this work for you?

[code]

[2016-10-17 08:52] jrphub commented on #76
First of all thanks for your quick reply.

This prints 10 next execution time.

Actually, I want modified cron expression as per UTC.
For example :
45 * * *  w.r.t IST will be converted to 15 * * * * w.r.t GMT

[2016-10-17 08:59] santigimeno commented on #76
OK. I understand now. No I don't think that's supported. Out of curiosity, what's your use case?

[2016-10-17 09:26] jrphub commented on #76
okay, no problem.
Usecase is :
from UI, user will set the cron expression as per his local timezone. The expression should be converted as per UTC and This new expression will be submitted to oozie from backend.

The reason of such requirement is explained in my previous reply

[2016-10-17 10:27] harrisiirak commented on #76
@jrphub not sure if I understand your issue fully. The solution @santigimeno provided is quite like you should handle such case.

[2016-10-17 10:55] santigimeno commented on #76
@harrisiirak I think their backend is not using `cron-parser` but uses the cron strings to schedule tasks. Also the date in their backend is configured as UTC, so they need to *translate*  the cron expressions from a valid expression in the local time, to the equivalent expression in UTC.

[2016-10-17 10:58] jrphub commented on #76
@santigimeno yes, you are correct.

[2016-10-17 11:04] panxue commented on #74
I want to achieve '0-59/2 * * * *', but choose the wrong expression.
sorry, my fault.

[2016-10-17 11:17] santigimeno commented on #76
@jrphub I guess changing the backend is out of question, right?

I think at this moment, `cron-parser` can't help you , nor how difficult would be to create a *generic transalator** that worked on every case :(. It seems like an interesting project though.

[2016-10-17 11:21] jrphub commented on #76
yes, changing backend (i.e. oozie) is not possible. Let me check what I can do. Anyways, Thanks for your help.

[2016-10-17 11:23] harrisiirak commented on #76
Well yep, this is a bit out of this library scope.
I you want to play around and/or manipulate with local time then `faketime` (https://github.com/wolfcw/libfaketime)  is a interesting library that may help you.

[2016-10-17 12:20] jrphub commented on #76
@harrisiirak Thanks I will check it.

[2016-10-20 14:45] #76 closed

[2016-10-24 12:56] Khsime-Marwane opened #77 "Invalid day of month with December"
Hy
Maybe it's juste me, but when I try to get the next execution date with this cron line: '9 22 December 12 4', everything is correct, but the day of the month is invalid ..

Have anyone seen this problem before?

[2016-10-27 00:49] ffxsam opened #78 "iterator.next() is extremely slow"
I modified the example code to remove the current and end dates, as I want to have an iterator that will work indefinitely (see below).

[code]

For some reason, when used this way, `.next()` is extremely slow. I added back in `currentDate` and `endDate`, and I noticed that the larger the gap between those two, the slower `.next()` was.

[2016-10-27 06:57] harrisiirak commented on #78
@ffxsam can you paste the exact code that has slow behavior?

[2016-10-27 18:47] ffxsam commented on #78
Never mind, I think I was misunderstanding how to use the parser. All is well!

[2016-10-27 18:47] #78 closed

[2016-10-27 18:56] ffxsam opened #79 "toUTC() nonexistent"
In the README, there's this example:

[code]

But when I try it, I get an error:

[code]

[code]

[2016-11-04 08:34] bcpxqz commented on #79
this's not exists toUTC method in "lib/date.js", use toISOString or toDate

[2016-11-04 08:40] santigimeno commented on #79
@ffxsam `CronDate` is basically a wrapper over `moment.js` implementing part of the `Date` interface plus some helper functions. There are 2 options to fix this:
- Change the code in the README to not use `toUTC()`.
- Implement `toUTC()` in `CronDate`.

Both should be quite easy to fix :)

[2016-11-07 23:33] nickclaw opened #80 "iterator mode is very slow"
[code]

[code]

I did a little debugging and it looks like you recursively call `next` a _lot_ to get the value of `done`.

[2016-11-08 06:45] #80 closed

[2016-11-29 05:19] chrischjh opened #82 "iterate with for...of"
It seems you didn't implement Symbol.iterator thus can't iterate via `for...of`:

[code]

[2016-12-07 17:05] iamjochem opened #83 "Whitespace ... leniency"
hi there,

`crontab` definitions are lenient with regard to the white space seperating the components of a schedule definition so that the following two lines are equivalent:

[code]

It is quite common for tabs to be used crontab files, unfortunately you module only accepts a single space as a delimiter between the components (mutiple spaces and/or tabs lead to parsing errors)

It would be nice i

[2016-12-07 17:08] harrisiirak commented on #83
@iamjochem good point. There is actually PR for that. https://github.com/harrisiirak/cron-parser/pull/53

[2016-12-07 17:12] iamjochem commented on #83
drak ... I just noticed the [PR](https://github.com/harrisiirak/cron-parser/pull/53) that also related to this issue, I think that PR is a tiny bit off the mark because it onyl considers a single tab or space character as a valid separator, multiple consequecutive whitespace chars still triggers an error.

I offer a slight alternative LOC for the PR: https://github.com/harrisiirak/cron-parser/pull

[2016-12-07 17:14] harrisiirak commented on #83
@iamjochem yep. Feel to free create a new PR with improved handling.

[2016-12-07 17:15] iamjochem commented on #83
btw - thanks for the quick response, it's always nice when an author/maintainer replies especially when it's within a matter of minutes.

I'll get you a PR after dinner :-)

[2016-12-07 17:15] harrisiirak commented on #83
@iamjochem np

[2016-12-07 17:18] harrisiirak commented on #82
@chrischjh well yes. I'm planning to rewrite it in ES6 in the near future.

[2016-12-07 17:19] harrisiirak commented on #79
Yep, documentation needs updating.

[2016-12-07 17:19] harrisiirak commented on #77
@Khsime-Marwane this isn't a valid cron expression.

[2016-12-07 17:20] #74 closed

[2016-12-07 17:26] iamjochem commented on #83
one PR is served, `npm test` pass (I add a couple of tests) but I did notice that momentjs is chucking out a deprecation warning

[2016-12-07 17:31] harrisiirak commented on #83
@iamjochem yep there are some non-ISO timestamps in the tests. Going to clean up this in `3.0`. Shouldn't affect the normal usage of the library.

[2016-12-12 08:20] #83 closed

[2016-12-12 20:20] odub opened #85 "Previous match"
I want to use this to run a SQL query periodically, filtered between the last two match times.

So it looks like I need to be able to iterate backwards in time.

Is that possible using this tool?

[2016-12-12 20:43] harrisiirak commented on #85
@odub see #48

[2016-12-12 20:43] #85 closed

[2016-12-12 20:47] odub commented on #85
Thanks, sorry I missed that

[2016-12-13 11:32] #79 closed

[2017-01-19 12:24] QuantumInformation opened #87 "How to import into react native"
I am trying this in a react native project:

`import  CronParser from 'cron-parser'`

but when running CronParser is undefined.

[2017-01-19 12:28] harrisiirak commented on #87
@QuantumInformation did you try:

`import { parseExpression } from 'cron-parser';`

[2017-01-19 12:53] QuantumInformation commented on #87
yep that worked thx!

[2017-01-19 12:53] #87 closed

[2017-01-19 13:21] QuantumInformation commented on #87
Hmm, the issue started popping up again, I'm not sure if it's a pure RN thing now..

![image](https://cloud.githubusercontent.com/assets/216566/22108238/0af188e2-de4a-11e6-9ce6-267358a5d084.png)

[2017-02-06 17:00] NAlexandrov opened #88 "Compatibility with old node.js versions"
In package.json your declare that cron-parser support node >= 0.8 but in https://github.com/harrisiirak/cron-parser/blob/master/lib/date.js you used a ES6 syntax in 18, 26 and 34 lines.

[2017-02-07 08:14] harrisiirak commented on #88
@NAlexandrov a good point. Gonna move to the full ES6 in the future but this should be fixed atm.

[2017-02-09 17:13] #88 closed

[2017-02-17 02:25] djmitche commented on #22
What does this mean?  What would "L" do?

[2017-02-17 02:28] djmitche commented on #22
Ah, there's more context in #21 - https://en.wikipedia.org/wiki/Cron#Non-Standard_Characters

L would be "last" so "5L" would mean the last friday.

[2017-02-21 15:51] rfvallina opened #91 "Not incrementing interval"
I saw this should have been fixed in version 1.1.1, so I upgraded till latest version (2.3.1).

But still failing (and not in the second iteration, but in the first)

This is the source code:
[code]

And this is the output:

_Repeat: * * * * *
Now: Tue Feb 21 2017 16:45:00 GMT+0100 (CET)
Next1: Tue Feb 21 2017 16:45:00 GMT+0100
Next2: Tue Feb 21 2017 16:45:00 GMT+0100 (CET)_

As you see, Next1 and

[2017-02-28 01:13] nrempel opened #92 "second/minute inconsistent behaviour"
Hi there, I'm seeing inconsistent behaviour when schedule secondly vs minutely jobs.

[code]

This is super obscure but I ran into it when writing tests which made it apparent.

Unless I'm missing something. Is this a requirement somehow?

Thanks!

**Edit:**

I tracked down the problem.

The minutely scheduler allows scheduling items in the past (it has a resolution of only 1 second). For example,

[2017-02-28 01:56] nrempel commented on #92
maybe related to https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L393

[2017-03-03 19:19] santigimeno commented on #91
@rfvallina can you check if https://github.com/harrisiirak/cron-parser/pull/93 fixes the issue?

[2017-03-04 08:36] santigimeno commented on #92
@nrempel can you check if https://github.com/harrisiirak/cron-parser/pull/93 fixes the issue?

[2017-03-06 21:34] rfvallina commented on #91
Thank you.
I'll check and let you know

[2017-03-21 11:04] charbonnier666 opened #94 "How make a Validator"
Hi!
Can you suggest how make a Validator with library for an input text with cron expression inside ? (I'm new in Angular)
Thanks !

[2017-03-21 11:06] harrisiirak commented on #94
@charbonnier666 https://github.com/harrisiirak/cron-parser/issues/61

[2017-04-03 08:51] harrisiirak commented on #92
@santigimeno @nrempel are we good to merge the bugfix?

[2017-04-03 08:54] santigimeno commented on #92
From my side I'm good with the change, it'd be better if we can confirm it fixes both related issues.

[2017-04-04 10:42] #91 closed

[2017-04-04 10:42] #92 closed

[2017-04-04 10:44] #77 closed

[2017-04-04 10:45] #94 closed

[2017-04-04 16:09] nrempel commented on #92
Sorry, everyone I've been super busy and haven't had much time to look at my open source stuff.

I'll try to check sometime soon and check-in on this thread.

Thanks for all the work everyone!

[2017-05-02 04:37] kqkq opened #95 "Does the order of dayOfWeek field matters?"
For the cron expression below:

`0 0 9 * * FRI,MON,SAT,SUN,THU,TUE,WED`

will only be triggered on Fri. and Sat. It seems the order of `dayOfWeek` field matters.

Is this an expected behavior or a bug?

[2017-05-10 00:17] shaunluttin opened #96 "next() and prev() are not symmetrical; prev() is skipping a day that next() includes."
Expected Behavior

A call to `next()` is symmetrical with a call to `prev()`.

Actual Behavior

A call to `next()` produces `Sat` whereas a call to `prev()` skips `Sat` and instead produces `Fri`.

[code]

https://runkit.com/5912594388e92a00122cb663/5912594388e92a00122cb664

[2017-05-10 07:00] harrisiirak commented on #95
@kqkq not sure about the order. I see that we don't sort it at the moment: https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L224

As I understand when align weekdays correctly (from sun to sat) it works as expected?

[2017-05-10 07:01] harrisiirak commented on #96
@faazshift can you look into that? Looks suspicious.

[2017-05-10 08:36] kqkq commented on #95
@harrisiirak Thanks for the reply. I think it works as expected when we align the weekdays in order.

[2017-05-10 14:38] shaunluttin commented on #96
@faazshift @harrisiirak Please ping me if you would like help on this.

[2017-06-11 04:58] David2685 opened #97 "There are somethind wrong on the process of "/""
in expression.js->function _parseField->function parseRange

I found the parseRange function only process '-', actually do nothing on '/'

[2017-06-11 05:18] harrisiirak commented on #97
@David2685 it shouldn't as the `parseRepeat()` parses repeats :)

[2017-06-11 05:18] #97 closed

[2017-06-13 18:36] XavierBerger opened #98 "next() and prev() miss event when cron rule match current time"
When I execute command `prev()` or `next()` on a time matching the cron rule, I got the event before the current event, the event after the current event but not the current triggered event (which just occurs or is currently executed).

The example bellow is showing how to reproduce the situation (using node-sheddule to trigger event at exact time). You should pay attention to second and microseco

[2017-06-14 11:29] santigimeno commented on #98
So IIUC, the issue is just with `prev()`, right?

BTW, here's simpler code that reproduces the issue:
[code]

[2017-06-14 13:46] santigimeno commented on #98
@XavierBerger can you check if this patch fixes the issue for you?

[code]

[2017-06-14 17:04] XavierBerger commented on #98
You are right, the issue was for `prev()` only.
The proposed patch is working for me.
Thanks for this very quick fix @santigimeno.

[2017-06-19 08:25] santigimeno commented on #96
@shaunluttin cannot reproduce the error with current master. I get this output, which looks fine.
[code]

[2017-06-19 15:14] faazshift commented on #96
@harrisiirak @santigimeno I've meant to work on this, but life has been pretty hectic. To me this bug still seems to exist, both on master and on #99. I'll try to dig into this sometime this week.

[2017-06-20 04:39] shaunluttin commented on #96
We've unfortunately moved on to another library. Apologies for not being more helpful.

[2017-06-28 00:51] m0nzderr opened #100 "interval.prev(): loops infinitely in Brazilian locale"
In Brazil, when it reaches the value of "2017-10-16T00:59:59.999", the operation

[code]

stays at the same date, causing infinite loop.

see issue https://github.com/moment/moment/issues/3132 :

[code]

Until the issue is not fixed, I'd suggest to add a simple workaround for it, something like detecting the "no change" situation and forcing the date to change.

[2017-06-30 10:25] #98 closed

[2017-06-30 11:00] #95 closed

[2017-06-30 11:18] harrisiirak commented on #100
@m0nzderr thanks for reporting! Can you provide me some example(s)?

Not sure how to reproduce this one. Tried to change the local tz + changed the opts.tz: not getting the infinite loop.

Example code:

[code]

[2017-06-30 11:30] harrisiirak commented on #96
@santigimeno @faazshift @shaunluttin looks like the `utc: true` is root of the evil here.

Anyhow, running this:

[code]

Output:

[code]

Looks good to me.

[2017-06-30 20:57] santigimeno commented on #96
I think https://github.com/harrisiirak/cron-parser/pull/101 should fix this.

[2017-06-30 22:25] faazshift commented on #96
@santigimeno @harrisiirak According to the test script I made while attempting to debug this issue, #101 does fix the issue.

[2017-07-02 21:08] UnbounDev opened #102 "Does not support cron range (',','-')"
The package doesn't seem to support cron statement w/ range syntax, such as ` "00 00 * * * 6-7"` or ` "00 00 * * * 6,7"`, is this a bug or feature request?

Behavior noticed using the following...

Version: `2.4.1`

Environment:
[code]

Repro:

[code]

Script (using moment-timezone for clarity):

[code]

[2017-07-05 23:51] sanjorgek opened #103 "Parsing error"
When I did

[code]

I expected this string. But `cron-parser` did this

[code]

[2017-07-05 23:53] sanjorgek commented on #103
`cron-parser` v2.4.1
`cronstrue ` v0.10.8
`node` v6.10.1

[2017-07-07 12:00] santigimeno commented on #103
@sanjorgek I don't think there's an error. From [crontab manual](https://linux.die.net/man/5/crontab)

"30 4 1,15 * 5" would cause a command to be run at 4:30 am on the 1st and 15th of each month, plus every Friday.

[2017-07-09 09:40] harrisiirak commented on #103
@santigimeno sounds about right

[2017-07-09 18:48] santigimeno commented on #102
I can confirm this bug. Working on a solution

[2017-07-09 20:44] #96 closed

[2017-07-09 21:30] santigimeno commented on #102
I've been looking into this and couldn't find an easy solution.

The issue is that internally the `dayOfWeek` field is sorted so always `6` ends up before `7` so a match with `6` is searched in the first place. A solution is converting the `7` to `0` and in fact it solves the issue, but it opens some other issues when `dayOfWeek` is set to a wildcard (`*`) as this is translated into a `0-7` range

[2017-07-09 22:18] harrisiirak commented on #102
@santigimeno thanks for looking into this so quickly! You're indeed correct about the direct replacing of the value. That will cause issues. Let me think about it a bit more.

[2017-07-16 11:05] #103 closed

[2017-07-19 06:49] rvalenciano opened #104 "Any support for quartz syntax?"
Hi, any support for quartz syntax? I'm using [angular-cronjobs](https://github.com/angular-cron-jobs/angular-cron-jobs), and they support quartz syntax. I also want to validate it with this package, but it seems like quartz is not supported.

Any planned support for it in the roadmap? I could collaborate if some basic orientation is provided.

[2017-07-19 07:27] harrisiirak commented on #104
@rvalenciano depends what you're exactly meaning but the short answer is no. Currently only the standard UNIX syntax is supported (minus special characters).

[2017-08-14 22:02] ghostsquad opened #105 "Leap years are not supported"
https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L74

This static table of days in the month is inaccurate.

[2017-08-16 11:36] santigimeno commented on #105
Are you sure they're not supported? See: https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L437-L441 (Haven't tested it though)

[2017-08-20 02:30] ghostsquad commented on #105
oh, actually, that looks right. sorry about this.

[2017-08-20 02:30] #105 closed

[2017-08-26 22:13] m0nzderr commented on #100
@harrisiirak , sorry for taking too long to respond.
Here is one of the cases that loops forever:

[code]

In my production code I had to overcome this problem by overriding your methods with a hack that prevents it from getting stuck on the same date:

[code]

[2017-09-05 14:28] #104 closed

[2017-09-18 11:54] fir3pho3nixx commented on #21
Old issue closing if that is OK. Thanks.

[2017-09-18 11:55] fir3pho3nixx commented on #22
Old issue hope it is OK if I close. Clearing things out. Thanks!

[2017-09-18 12:04] fir3pho3nixx commented on #22
Sorry @harrisiirak, will leave open.

[2017-09-18 12:08] fir3pho3nixx commented on #21
@harrisiirak - this is issue is 3 years old. I am try to get these off my issue tracking. Any chance of creating a new one?

[2017-09-18 12:12] #21 closed

[2017-09-18 12:17] #22 closed

[2017-09-20 11:44] santigimeno commented on #100
@m0nzderr I think your patch looks good. Could you send a PR?

[2017-09-21 03:45] legend80s opened #106 "Does not support cron of specific minute or hour with step value"
Version: 2.4.1

Now: 9/21/2017, 11:32:37 AM

Cron: 15 50/1 11 * * *

Task Expected to be run at every minute with second 15 and hour 11 from minute 50:
9/21/2017, 11:50:15 AM
9/21/2017, 11:51:15 AM
9/21/2017, 11:52:15 AM
...

But run at 11:50:15 everyday
Thu Sep 21 2017 11:50:15 GMT+0800
Fri Sep 22 2017 11:50:15 GMT+0800
Sat Sep 23 2017 11:50:15 GMT+0800

`test.js` Code:
[code]
Execute the code
`$

[2017-09-21 07:31] harrisiirak commented on #106
@legend80s are you very sure that your cron pattern is correct? If you want to iterate over the minutes you need to provide full range (can't predict the range here as it may be `0-50` or `50-59`).

For the example: `15 50-59/1 11 * * *`
Simplified example: `15 50-59 11 * * *`

Outputs:

[code]

Should be what are you looking for?

[2017-09-24 11:12] basvdijk opened #107 "Timer with 0 30 0 * * SAT-SUN not correctly parsed"
## Current behaviour
When it is Saturday 11:00 am and I set a cron job like:
- `0 30 0 * * SAT-SUN` result: Invalid range: 6-0
- `0 30 0 * * SAT,SUN` result: the date for the next Saturday is returned instead of tomorrow when it is Sunday

## Expected behaviour
When I set a timer with `0 30 0 * * SAT-SUN` or `0 30 0 * * SAT,SUN` I expect it to return the next matching day. In this example Sunday a

[2017-09-24 17:09] harrisiirak commented on #106
@legend80s did this help you?

[2017-09-24 17:17] harrisiirak commented on #107
@basvdijk thanks for reporting! I'm going look into this I'll let you know what I find.

[2017-09-24 17:19] #48 closed

[2017-09-24 17:32] harrisiirak commented on #107
Can confirm that it's related to this: https://github.com/harrisiirak/cron-parser/issues/102

[2017-09-24 18:22] basvdijk commented on #107
Ok fair enough but #102 is not about my issue below right?

`0 30 0 * * SAT,SUN` result: the date for the next Saturday is returned instead of tomorrow when it is Sunday

[2017-09-24 19:10] harrisiirak commented on #107
@basvdijk the first issue you mentioned with the range parsing is actually related.

Regarding your problem.

[code]

The results are (my local timezone is UTC+3, so we must take this into account):

[code]

I'm missing something here? If yes, please provide me example code so I can provider some further help.

[2017-09-24 19:18] basvdijk commented on #107
I tried to reproduce it:

[code]

Which gives:
[code]

Which are all Saturdays. I expect also to have Sundays in the list since 23th September is a Saturday so the next interval should be on the following Sunday according to `0 30 0 * * SAT,SUN`

Just to be sure `0 30 0 * * SAT,SUN` means every Saturday **and** Sunday on 0:30 AM right?

[2017-09-25 02:53] legend80s commented on #106
@harrisiirak Yes, It does. Thank you very much.

[2017-09-25 05:12] harrisiirak commented on #107
That is interesting as the same code produces:

[code]

But I'll investigate this a bit more when I've more time.

Yes you're correct. https://crontab.guru/#30_0_*_*_SAT,SUN

[2017-09-25 05:35] #106 closed

[2017-09-25 07:55] basvdijk commented on #107
I am using npm 5.4.2 and node 8.2.1. Tried on both osx and ubuntu (on RPI). My current timezone is CEST

[2017-09-28 02:44] m0nzderr commented on #100
@santigimeno got it!

[2017-10-11 19:35] abhishek-gamooga opened #110 "parsing fails"
const cron = require('cron-parser');
cron.parseExpression('15 10 * 9 *').next().toString();

throws:
Error: Invalid explicit day of month definition
    at CronExpression._findSchedule (/somepath/Desktop/ww-api/ww-apis/node_modules/cron-parser/lib/expression.js:444:15)
    at CronExpression.next (/somepath/Desktop/ww-api/ww-apis/node_modules/cron-parser/lib/expression.js:537:23)
    at repl:1:44

[2017-10-12 07:50] harrisiirak commented on #110
Related to this part of the code: https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L443

Need to think what is the best fix/workaround for this issue.

Thanks for reporting!

[2017-10-12 07:58] #110 closed

[2017-10-12 11:41] abhishek-gamooga commented on #110
@harrisiirak Thanks for acting so fast on it :+1:

[2017-10-19 20:41] Eric24 opened #111 "Question about Timezone and DST support"
I have a couple of questions about cron-parser:

1. It appears that setting the 'tz' prop only applies to the output. Wouldn't it make sense to also apply the selected timezone to the input values? This way, setting a timezone assumes all date/times are in that timezone.

2. Is DST (Daylight Saving Time) supported automatically when the 'tz' prop is set that DST is observed in that timezone?

[2017-10-20 07:15] santigimeno commented on #111
Are you sure about this? Do you have an example that demonstrates the issue? Looking at [this](https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L25-L27), it does not seem that way.

Yes, it should. If you have an example that does not work please let us know.

[2017-10-20 15:48] Eric24 commented on #111
Thanks for the quick response.

Regarding 'tz', here's what I'm seeing:

- If I don't set currentDate or endDate, it works as expected, for any 'tz' or no 'tz' (UTC default); the "now" datetime and the output datetimes are in the specified timezone.
- If I set 'tz': 'America/Chicago' (for example), the inputs for currentDate/endDate are not interpreted as being in the specified timezone. I can for

[2017-10-21 19:47] santigimeno commented on #111
@Eric24 okay I understand now.

For the record, I think the current behavior is correct, let me explain why:

- If you pass a `Date` object to `currentDate` or `endDate` that object is already set to the TZ the system where the js engine is running on. It corresponds to an UTC value, so translating that to a different timezone won't modify this UTC value. Thus this corresponds to the `07:30:00 GMT

[2017-10-23 00:20] Eric24 commented on #111
@santigimeno : Yep, that did the trick. Very subtle, but it makes sense. Thank you for your help!

[2017-10-23 00:20] #111 closed

[2017-11-02 14:00] yanickrochon opened #112 "Why not splitting the parser from the expression?"
I understand that some _may_ need this, but given the triviality of the implementation, and how useless it is in the browser, why does this method actually exist in this package? Of course, who cares if it adds a few bytes when exported for the browser, but wouldn't a peer dependency be best suited for this method, as it is not a general use case?

Just wondering.

[2017-11-02 14:13] yanickrochon commented on #112
Actually, why not creating two modules from this one? I actually only need the expression parser, and I got a little confused at the purpose of this module when looking at the README. If I am not mistaken, this module is about parsing crontab files / strings, while including the actual cron expression parser.

If both crontab parser and expression parser would be separate modules, my first comment

[2017-11-02 14:40] yanickrochon commented on #82
I'd be willing to help with that (see #112)

[2017-11-02 15:20] harrisiirak commented on #112
Hi @yanickrochon! Thanks for your feedback.

I see your point keeping this module efficient and functional as possible. Although it's not adding much logic/weight to the module, it still needs attention when somethings changed or will be added. Definitely this is not happening in `2.x` because it may break backward compatibility for some of the users. This something that can be done in `3.0`.

My

[2017-11-02 15:52] yanickrochon commented on #112
(Thank you for correcting the auto-correct :stuck_out_tongue: )

Yes, I this is why I was linking to the other issue, and implementing the API for ES6 syntax, targeting Node 7 and upward. This would be for a next major release, as it would create significant enough API change to break some user code.

I would propose splitting this way :

* **cron-expression** (it doesn't exist on npm, yet)
  cont

[2017-11-18 18:55] santigimeno commented on #107
@basvdijk I've tried to reproduce the issue with no luck. I'm using osx, node 8.2.1, on CEST and set the date of my computer the Sept 24th and it worked correctly:

[code]

[2017-11-19 08:33] basvdijk commented on #107
Could it have something to do with daylight saving time? The bug was reported when we still had DST

[2017-11-19 11:15] santigimeno commented on #107
Not sure as I set the date of the computer to that specific date.

[2018-01-31 21:21] ykhli opened #116 "Does not support '?'"
In lots of cases(e.g Quartz, aws schedule expression) the support for cron expressions defaults to having either day of month or day of week to be '?' so that there's no ambiguity in meanings.

[2018-02-21 10:01] ashishpatel1992 opened #118 ""*/45 * * * * *""
Why does */45 * * * * * shows two times at 00 and 45 of the second.
It is supposed to show up at 45 only
[code]
Current Output:
`[ 0, 45 ]`
Expected Output:
`[ 45 ]`

[2018-02-21 10:08] santigimeno commented on #118
My understanding is that this is not a bug but how cron works. See: https://stackoverflow.com/a/27412884/1562178 for an explanation. Anyway let's see what others think.

[2018-02-21 10:10] ashishpatel1992 commented on #118
Yes you are right. @santigimeno

[2018-03-26 16:43] VaidotasSm opened #119 "Parser skips Sunday"
We have scheduled job running using `cron-parser` and noticed that task was run on Friday (OK), Monday(today - OK), but was not run on Sunday which supposed to happen.

- The CRON expression was - `'30 16 * * 1,3,5,7'` which according to https://crontab.guru/#30_16_*_*_1,3,5,7 should have happened on Sunday.
- `cron-parser` version is `2.4.3`

Reproduced example using Sinon's `useFakeTimers`:
[cod

[2018-03-26 22:09] santigimeno commented on #119
Possible fix in: https://github.com/harrisiirak/cron-parser/pull/120

[2018-04-15 08:35] #119 closed

[2018-04-15 08:35] #118 closed

[2018-04-15 08:39] harrisiirak commented on #119
@santigimeno @VaidotasSm merged PR with fix in.

[2018-04-15 13:29] rajeshwarpatlolla commented on #116
When i tried with `0 0 6 ? * 2,3,4,5,6,7,1 *` it's giving me error `Error: Invalid characters, got value: ?`

[2018-04-17 04:04] sirgalleto opened #121 "Year support"
Whats the suggested approach for cron expressions with the year? What if I want a one-time expression?

Thanks for this awesome library btw

[2018-05-14 18:27] DABH opened #122 "Bug with interesting leap year pattern?"
I'm trying to parse a cron with the following pattern:
`0 2 29 2 0`
However, when I try, I get the error:
`Invalid explicit day of month definition`
This pattern should match all February 29th's that are on a Sunday (accounting for leap years in some reasonable way).  This is enough of an edge case that I figure it might actually be a bug.  Any ideas what's going on and how to fix this?

[2018-05-15 06:40] harrisiirak commented on #122
@DABH thanks for reporting? Can i ask which version of the library you're using?
Latest version is currently producing results as such:

[code]

[2018-05-15 07:34] BuZZy1337 commented on #102
Any solution in sight for this issue?

[2018-05-15 08:15] harrisiirak commented on #102
@BuZzy1337 haven't really had time to look into this. It's still top priority tho. Trying to look into this as soon as possible. Thank you reminding this!

[2018-05-16 08:29] harrisiirak opened #123 "Invalid validation state for month range"
Created from: https://github.com/harrisiirak/cron-parser/issues/102#issuecomment-389278004

CRON setting 13 23 * 5-7 * works
CRON setting 14 23 * 4-10 * does not work

Results:

[2018-05-16 08:30] harrisiirak commented on #102
@FChristian can confirm the issue. Created #123 for this.

[2018-05-29 14:49] yoavapi opened #124 "Does not support '#'"
'#' is allowed for the day-of-week field, and must be followed by a number between one and five. It allows you to specify constructs such as "the second Friday" of a given month. For example, entering "5#3" in the day-of-week field corresponds to the third Friday of every month.

[2018-05-29 15:11] harrisiirak commented on #124
Yet it doesn't seem to part of standard cron syntax. I'm wrong? It seems to be part of CronTrigger/Quartz. Still, the idea itself is worthy to be considered. Adding this as feature request.

[2018-05-29 15:13] harrisiirak commented on #100
@m0nzderr any updates?

[2018-05-29 15:13] #102 closed

[2018-06-13 03:00] Yonysun commented on #116
I met the same problem

[2018-06-18 08:08] olivierto commented on #116
+1 you should definitly consider question mark

[2018-06-26 01:24] GildedHonour opened #125 "Does it allow creating/editing instructions?"
Does it allow creating/editing instructions? Or merely parsing existing ones?

[2018-07-02 10:43] chaosJS opened #126 "This problem confuse me, bug or feature?"
![menu saveimg savepath20180702183959](https://user-images.githubusercontent.com/17522683/42159778-8b2e7d02-7e27-11e8-8c02-fcf8c7c04f28.jpg)

if i pass an empty string ,it'll parse to current date

[2018-07-02 10:44] chaosJS commented on #126
@harrisiirak

[2018-07-03 06:53] harrisiirak commented on #126
@chaosJS if the fields are not set, it will default to this pattern: https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L124

[2018-07-03 06:54] harrisiirak commented on #125
@GildedHonour what do you have exactly in your mind?

[2018-07-03 14:40] chaosJS commented on #126
got it, thanks a lot .
Also , when i tried this: '0 0 12 * * ?'  i got an  error: 'Error: Invalid characters, got value: ?'
![image](https://user-images.githubusercontent.com/17522683/42226521-beabea62-7f11-11e8-848d-aadd052bcb58.png)
@harrisiirak

[2018-07-04 07:11] harrisiirak commented on #126
@chaosJS see #116

[2018-07-27 20:16] braintapper opened #127 "Out of bounds day of month causes hasNext() = false when it is expected to produce true"
`cron-parser` is generally good about skipping over invalid dates (Feb 31, Apr 31) when explicit days of the month and/or explicit months are provided in the cron expression.

In a situation where there are possible valid and invalid dates (i.e. a list of months that include 31 days and 30 days), I expect `.hasNext()` to always be true, because there will be at least one valid date from the expres

[2018-07-28 17:35] santigimeno commented on #127
Yeah, these seems like bugs to me

[2018-08-07 02:15] chris-armstrong commented on #116
PR #128 is probably relevant here.

[2018-08-09 11:18] kramer65 opened #129 "Error: Invalid characters, got value: 1#1"
I'm using the following cron, which I expect to run every first monday of the month at 13.00 hours.

    0 13 * * MON#1

Unfortunately I get an error saying `Error: Invalid characters, got value: 1#1`. Since we use this a lot, it would be really awesome if this could be fixed.

I'm not sure but maybe this is related to #107 in which @santigimeno and @basvdijk discuss the usage of `SAT-SUN`. That o

[2018-08-09 11:38] harrisiirak commented on #129
@kramer65 see #124

[2018-08-09 11:43] kramer65 commented on #124
@harrisiirak - Thanks for pointing me here.

We would be extremely happy with this feature. Are there any plans to implement this anytime soon?

[2018-08-10 09:42] kramer65 commented on #124
@harrisiirak - Would you be willing to accept a donation to add support for `#` to this library? We could maybe spare say $250?

[2018-08-13 07:04] harrisiirak commented on #124
@kramer65 I'll look into this and try to understand how much work implementing this feature is. I'll be back to you by end of this week.

[2018-08-15 05:45] harrisiirak commented on #116
Closed by #128

[2018-08-15 05:45] #116 closed

[2018-08-15 05:47] harrisiirak commented on #126
Closed by #128

[2018-08-15 05:47] #126 closed

[2018-08-15 05:47] #125 closed

[2018-08-15 05:48] harrisiirak commented on #121
@sirgalleto looking up this from Wikipedia, which says:

This is also supported in expressions syntax.

[2018-08-15 05:48] #121 closed

[2018-08-15 05:50] harrisiirak commented on #100
Closing this issues as there are no further updates on this.

[2018-08-15 05:50] #100 closed

[2018-08-20 11:05] harrisiirak commented on #124
@kramer65 @yoavapi as I was suspecting this is little bit more difficult to implement. I did put something together, but this isn't good enough (doesn't handle some edge cases very well) to be pushed/merged into master branch. At this point I'll add this as priority for `3.0`. I'm not completely burying this for `2.x` branch as well, as I may have some enlightenment and find better solution.

No E

[2018-08-20 11:06] harrisiirak commented on #129
@kramer65 closing this in favour of #124. This is still relevant!

[2018-08-20 11:06] #129 closed

[2018-08-20 11:07] harrisiirak commented on #122
@DABH +1

[2018-09-04 17:18] marcoprado17 opened #131 "Func .prev() does not return"
Hi Guys

I am using the package and it help me a lot but I found a problem:

In the script bellow, the function .prev does not return

[code]

node version: v8.11.3
cron-parser version: 2.5.0

Thanks

[2018-09-25 21:16] justintime4tea commented on #124
Also does not support ? as far as I know... could be wrong...

[2018-09-29 18:01] upstream-dial opened #132 "Calling .next() with specific date, timezone, schedule halts the execution of the program"
Hello all,

when calling .next() method in the following code the execution of the code halts without any errors or other way to continue.
The problem seems to be timezone, currentDate and day of the month sensitive.
[code]

[2018-09-30 15:02] upstream-dial commented on #132
Hello,

after some more investigation on the issue, it looks like that this is a bug of moment-timezone@0.5.11 library and its .addDay() method which is used by the .next() method.

Issue is resolved in moment-timezone@0.5.21 so, I am closing this issue.

[2018-09-30 15:02] #132 closed

[2018-10-03 20:42] jsemander commented on #131
Something about the timezone puts it into an infinite loop.

When changing to another time zone, it seems to work fine.

[code]

I can check this out.

[2018-10-13 03:39] mehuldudi opened #134 "Gets stuck when parsing next time"
The thread gets stuck without error if we try `parser.parseExpression("* * 2 * *", { tz: "America/Sao_Paulo"}).next();`. This happens for this particular timezone with any expression with a defined day.

[2018-10-13 03:47] mehuldudi commented on #131
I'm also facing a similar issue. Did you find anything?

[2018-10-13 16:02] marcoprado17 commented on #131
@mehuldudi

I solve the deadlock problem creating one instance of interval to get the next cron date and another instance to get the prev cron date:

`
const cronParser = require('cron-parser');

let nextInterval = cronParser.parseExpression("0 9 1 1 *", {tz: "America/Sao_Paulo"}).next();
let prevInterval = cronParser.parseExpression("0 9 1 1 *", {tz: "America/Sao_Paulo"}).prev();

console.log(nex

[2018-10-25 11:49] yoavapi commented on #131
thanks @marcoprado17  you solved my issue.

[2018-10-28 00:40] mdbiundo commented on #124
Is there a way to achieve the "third Tuesday of every month" behavior with recurrence rules?  I don't need cron syntax, and the readme says

so maybe I'm missing something?  Watching this thread for any updates, thanks!

[2018-10-30 10:51] kramer65 commented on #124
@mdbiundo - I guess this lib is meant: https://github.com/node-schedule/node-schedule
I don't have experience with it though, s go check it out.

[2018-11-02 19:10] mdbiundo commented on #124
@kramer65 Whoops you're right I mixed up my browser tabs, meant to be looking at that one.

[2018-11-05 22:12] fishcharlie commented on #122
I'm not getting any errors with @DABH's code he posted in the original issue. That being said, I'm getting this error in the latest version (2.6.0) of this package, using the code I have attached below.

[code]

I'm running on Node.js version `v10.8.0`.

Below is the output I get when running the code above.

[code]

As you can see from [this link](https://crontab.guru/#0_0_29_2_*) the code above

[2018-11-05 22:32] fishcharlie commented on #122
I have created a PR for this fix (#135). Let me know if you have any questions!

[2018-11-05 22:43] fishcharlie commented on #134
@mehuldudi I can't reproduce this. I'm running the latest version of this package (2.6.0), and running Node.js version (v10.8.0).

Running the following code:

[code]

Prints the following in the console:

[code]

Can you provide more information so that I can reproduce this and I'll try to see if I can help fix it and submit a PR for it?

[2018-11-05 22:46] fishcharlie commented on #123
I can not reproduce this issue.

Running the latest version (2.6.0) of this package and Node.js version 10.8.0.

Using the following code.

[code]

Produces an output of the following.

[code]

I'd love to help see if I can fix this and submit a PR to help fix it. Can you please provide more information so that I can try to help fix it? @FChristian

[2018-11-05 23:03] fishcharlie commented on #127
I'm working on testing all of these to see if I can help fix this. In the following example.

[code]

Commenting out the following lines seems to fix it.

https://github.com/harrisiirak/cron-parser/blob/2e3f6db007a8439d5458b8acb98027d08f635d38/lib/expression.js#L455-L457

But commenting out those lines causes other problems (tests not passing).

I'm gonna keep investigating, but just logging what

[2018-11-07 20:12] #122 closed

[2018-11-07 20:47] #131 closed

[2018-11-07 20:48] harrisiirak commented on #134
Should be fixed by changes made for #131

[2018-11-07 20:48] #134 closed

[2018-11-07 21:00] harrisiirak commented on #131
Released fix in 2.7.0

[2018-11-09 16:46] mtharrison opened #137 "Unexpected change in behaviour since last release (2.7.0)"
My schedules have started producing incorrect times since the latest 2.7.0 release.

Here's a example:

[code]

I've traced the change in behaviour to this commit: https://github.com/harrisiirak/cron-parser/commit/e0f0b0521b3c1157575caaed96169db1310d8afa

I think the removed `startOf('day')` was required?

[2018-11-09 17:41] mtharrison commented on #137
Thanks for the quick response. No need to be sorry, I'm going to pin to 2.6.0 for now as that's working great for me 😄

Good luck!

[2018-11-11 11:49] #137 closed

[2018-11-15 12:29] zhangxiang958 opened #139 "Error next time"
i find '* 0 0 1,2 * * *' this expression when i want to get NextTime, it will return 2018-12-02 00:00:00, is that is bug? how to fix ?

[2018-11-15 13:53] santigimeno commented on #139
@zhangxiang958 can you post a sample code that demonstrates the issue?

[2018-11-15 14:11] zhangxiang958 commented on #139
@santigimeno
[code]
i expect next is 2018-12-05 00:00:00 but actually got 2018-12-06 00:00:00

[2018-11-15 14:22] santigimeno commented on #139
I'm not sure I understand, but that expression is incorrect as it has 7 fields instead of 5 or 6. Anyway, what do you exactly want to accomplish with that cron expression?

[2018-11-15 14:50] zhangxiang958 commented on #139
@santigimeno same result with * 0 0 1,2 * *

[2018-11-15 14:54] santigimeno commented on #139
I've modified your code to print the next 10 dates and it looks it's working correctly:

[code]

[2018-11-15 15:02] zhangxiang958 commented on #139
@santigimeno no, i expect:
[code]
because from today, Dec 01 is closer than Dec 02

[2018-11-15 15:04] zhangxiang958 commented on #139
@santigimeno sorry about that sample

[code]
i expect next is 2018-12-01 00:00:00 but actually got 2018-12-02 00:00:00

[2018-11-15 15:05] santigimeno commented on #139
Yes, that's correct. There's indeed an error. Let me see

[2018-11-15 15:20] zhangxiang958 commented on #139
@santigimeno i found that code maybe where is the problem:
in expression.js at line 342:
[code]
i think maybe when method is Month or Day, it should not addHour, do you agree?

[2018-11-15 16:20] santigimeno commented on #139
I think it should be fixed by: https://github.com/harrisiirak/cron-parser/pull/140

[2018-11-16 01:58] zhangxiang958 commented on #139
@santigimeno it seem to be fixed. can you publish this newer package ?

[2018-11-18 16:12] #139 closed

[2018-12-12 19:29] ketysek opened #142 "Wrong next times"
Hi there,
I've found bug when the parsed cron contains repeat and the repeat minutes is greater than 60 or repeat hours is greater than 24, for example:
- */90 * * * * (repeat every 90 minutes) or
- \* */36 * * * (repeat every 36 hours).

In the first case, the next datetimes are every hour every day - 20:00, 21:00, 22:00 etc.
In the second case, the next datetimes are every day at 0:00 hour.

[2018-12-13 08:30] harrisiirak commented on #142
@ketysek the patterns you are using aren't valid.
Valid value range for minutes is 0 - 59.
Valid value range for hours is 0 - 23.
See the documentation and/or RFC and wiki.

[2018-12-13 08:48] ketysek commented on #142
Ah, Okay! thanks for explanation!

[2018-12-13 09:12] ketysek commented on #142
Hm, I have to reopen it, because if I set repeat every 45 minutes, it's wrong ... see the formatted output datetimes:
01:00, 14.12.2018
01:45, 14.12.2018
02:00, 14.12.2018 <-- this should be 2:30

[2018-12-13 09:18] ketysek commented on #142
Ok, I'm wrong again:
Note that frequencies in general cannot be expressed; only step values which evenly divide their range express accurate frequencies (for minutes and seconds, that's /2, /3, /4, /5, /6, /10, /12, /15, /20 and /30 because 60 is evenly divisible by those numbers; for hours, that's /2, /3, /4, /6, /8 and /12);

[2018-12-13 09:18] #142 closed

[2019-01-25 19:16] pranavrc opened #143 "Day of week goes from 0-7 instead of 0-6"
https://github.com/harrisiirak/cron-parser/blob/d197e25b4ec5dce4c65dbe18dc31b954f56dddce/lib/expression.js#L67 Right there

[2019-01-29 16:32] harrisiirak commented on #143
@pranavrc sure, but I'm not completely sure if I understand what are you trying to refer to.

It's pretty standard to handle 0 and 7 both as "Sunday" here.

[2019-01-31 13:08] ccurtin opened #144 "Library Size"
First of all, really nice job! Exactly what I was looking for.

I just have a little concern with the size of the library, do you know why it's over 100KB when compressed? Are you utilizing another(larger) library?

Thanks!

[2019-01-31 13:12] ccurtin commented on #144
Never mind, looks like it's because of moment-timezone

[2019-02-02 00:18] pranavrc commented on #143
Yikes my bad, I thought this was a bug, but then I found this: https://unix.stackexchange.com/questions/106008/day-of-week-0-7-in-crontab-has-8-options-but-we-have-only-7-days-in-a-week

Closing.

[2019-02-02 00:18] #143 closed

[2019-02-05 22:22] hueniverse opened #145 "Expose _fields as public api"
I have a use case where I need to validate schedules for minimum interval (e.g. not allow intervals of more than once every 5 minutes). Having access to the parsed `_fields` provides me with the information I need. Any chance of exposing `_fields` as a supported interface?

Thanks!

[2019-02-07 09:06] CristianDuta opened #146 "Browser freezes with expressin "0 - * * *""
Hi there, when entering an invalid expression like `0 - * * *` browser is frozen and can't be unfrozen unless you restart it.
It's happening on all major browsers
It should throw an error in this case
Cheers

[2019-02-14 07:52] alin0509 opened #148 "Daily parser not working, when you have something like this : 1 6 8 1/20 * ? *"
when you want to parse an expression, every **x** days at some hour (for ex 00:00:00), you will have something like this: 0 0 0 1/**x** * ? * , the value for the next or previous date is the first date of the month which is wrong. I ques you don't parse the 1/x correctly.

 `var cronParser = require("cron-parser");
var interval = cronParser.parseExpression('0 0 8 1/3 * ? *');
console.log('Date: ',

[2019-02-22 23:02] natekspencer commented on #148
@alin0509, the cron expression you have listed is non-standard. The following should give you what you want and works with the current code:
`0 0 8 */3 * *`

[2019-02-26 13:02] MykolaPanko opened #149 "no validation for '* * * * * * * *ASDS'"
I was trying to parse '* * * * * * * *ASDS' thru cron-parser and noticed that no any error for such case (not valid time) [https://www.screencast.com/t/OfU29nW6AH](url)

[2019-03-08 10:59] lostpebble commented on #144
Yea its massive. Surely there is a way to make it smaller? Do we need all the locales that come with `moment-timezone`? Isn't that mostly for language stuff.

This is a bit ridiculous:

![image](https://user-images.githubusercontent.com/1508863/54024971-70378800-4199-11e9-8112-193f019196de.png)

Like what the heck is that `data/packed` thing? Its like 5 times the size of the original moment librar

[2019-03-08 12:27] lostpebble commented on #144
Good news for anyone using webpack and **not using the timezone** aspect of this library.

I put this in my webpack plugins (basically replaces `moment-timezone` with regular `moment` and removes all locales):

[code]

Much nicer:

![image](https://user-images.githubusercontent.com/1508863/54028616-e80baf80-41a5-11e9-92f3-b4b4773cffb6.png)

[2019-03-10 14:37] KevinWang15 opened #151 "Cannot parse `* * * * 2 *` in march"
In march, parsing `* * * * 1 *`, `* * * * 3 *`, `* * * * 4 *`... works fine, but parsing `* * * * 2 *` throws an Error:

[2019-03-10 15:01] KevinWang15 commented on #151
possible fix:

[code]

[2019-03-10 20:01] #148 closed

[2019-03-10 20:13] harrisiirak commented on #144
@lostpebble thanks for bringing this up! We could possibly remove `moment-timezone` dependency in the future (`date-fns` is rather lightweight and sane library I've been using instead of `moment` monolith lately). Therefore I'm not closing this issue atm.

[2019-03-10 20:19] harrisiirak commented on #145
@hueniverse sorry about the late answer! I see your use case and this may be useful indeed. I can look into this, but not sure if it happens for `2.x`.

[2019-03-10 20:21] harrisiirak commented on #151
@KevinWang15 thanks for reporting this! I'll look into this tomorrow.

[2019-03-10 20:31] #146 closed

[2019-03-10 20:56] harrisiirak commented on #149
@MykolaPanko the parser is looking up values separated by whitespace. Only first 5 + 1 (standard + optional second field) atom values are processed, everything else coming after that will be discarded.

However, throwing an error in such situation may be useful.

[2019-03-10 21:21] harrisiirak commented on #107
Closing this as there isn't reproducible case.

[2019-03-10 21:21] #107 closed

[2019-03-11 09:58] #151 closed

[2019-03-11 10:37] #149 closed

[2019-03-11 15:24] harrisiirak commented on #127
@santigimeno @braintapper if you can, please look into this: https://github.com/harrisiirak/cron-parser/pull/152. It possibly is fixing this issue. Let me know if I missed something here.

[2019-03-12 03:44] xxyuk commented on #144
Day.Js is a nice alternative to me with etc support

⏰ Day.js 2KB immutable date library alternative to Moment.js with the same modern API

https://github.com/iamkun/dayjs

[2019-03-12 06:02] hueniverse commented on #145
Thanks for considering it. Any reason why not for 2.x? It's not a breaking change.

[2019-03-12 10:02] lostpebble commented on #144
@xxyuk the biggest issue is timezone support, which Day.Js doesn't seem to have: https://github.com/iamkun/dayjs/issues/46

Supporting timezone is always going to be a massive amount of data because of the fact that every nation in the world has pulled a random number out of their ass to define an irrelevant time that they think the clock should display when the sun rises and sets.

Day.Js seems t

[2019-03-12 10:08] santigimeno commented on #144
I think using something like https://github.com/yurikuzn/moment-timezone-data-build with `moment-timezone` might be acceptable for many.

wrt `date-fns`, it's very nice but last time I checked the tz support wasn't there. Is it now available?

[2019-03-12 11:01] santigimeno commented on #145
Being `_fields` an implementation detail, could it be an option adding that functionality (validate schedules for minimum interval) to the library itself?

[2019-03-26 20:41] andeersg opened #153 "Add method for comparing date against cron pattern"
I was trying to find a library that allowed my to check the current time against a cron pattern to see if it matches. So far this library is the one closest to what I want, but I had some problems with milliseconds and rounding errors when I tried to convert it to seconds.

The closest I got was to create this function:
[code]
It allows me to do to:
[code]

Could it be possible to add a method lik

[2019-03-29 17:00] kumar-muthu opened #154 "cron parser next date is wrong"
Here is the code to reproduce it

[code]

But actually the next date should start from April 01 2019. Is this a bug or I have misunderstood the implementation ?

[2019-03-29 18:19] harrisiirak commented on #154
@kumar-muthu this is how steps are working with cron expressions. It will yield a predictable value/state that doesn't change or depend on the current system time. The expressions itself is absolute truth.

The simpliest example (minute step):

`*/5 * * * *` => `0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55`

Your case (mont step):

`0 0 1 */2 *` => `1, 3, 5, 7, 9, 11`

Let's say that you change th

[2019-03-29 18:38] harrisiirak commented on #153
@andeersg there was some (similar) discussion regards implementing validation interface for such cases in #145.

The idea itself is great, but I'm not completely sure how reasonable it's to add this into core (maybe separate cron-data-validation library or something like that). I must digest this a little bit.

[2019-03-29 19:23] #123 closed

[2019-03-29 19:23] #127 closed

[2019-03-29 23:57] andeersg commented on #153
Yes I'm not the one to say if this is a feature that belongs here or not. But of all the libraries I found this was the one I thought was the most fitting one, since all the others focus on running functions at cron not parsing the cron string.

But for now I can use my function, so take your time to consider it, and let me know if you need input or something.

[2019-03-31 18:02] kumar-muthu commented on #154
@harrisiirak Thanks. Makes sense.

[2019-03-31 18:02] #154 closed

[2019-04-10 18:38] harrisiirak commented on #124
Closed by #155
Credits are going to @DiskImage
CC @kramer65 @yoavapi

[2019-04-10 18:38] #124 closed

[2019-04-25 05:31] coolnk2001 opened #156 "Some cron expression will build incorrect intervals"
(An easy to reproduce test case will dramatically decrease the resolution time.)
Example
Cron format | 0 */2 * ? * * work for every 2 minute start from 0 is ok
so the schedule is 11:00, 11:02, 11:04, 11:06 ....
Cron format | 0 1/2 * ? * * work for every 2 minute start from 1 is not ok,
the expected schedule is 11:01, 11:03, 11:05, 11:07 ....
but it give 11:01, 12:01, 13:01, 14:01....

Strange that

[2019-05-03 08:56] john30 opened #158 "error "Invalid explicit day of month definition" with */5 in day and some explicit months"
e.g. the following fails:
`* * * */5 6 *`

whereas this is fine:
`* * * */5 1 *`

tested on the day of submitting this issue

[2019-05-20 19:20] harrisiirak commented on #156
@coolnk2001 thanks for reporting this! I'll look into this during the following days.

[2019-05-20 20:51] #158 closed

[2019-05-20 20:52] harrisiirak commented on #158
@john30 pushed the fix (823502b) into the master branch. Let me know how this works for you. Will publish new npm release soon.

[2019-05-27 11:48] jhorbulyk opened #159 "To which Cron standard does this library try to adhere to?"
When I searching across the Internet for examples of Cron usage and Cron parsing tools, I see some tools with 5 input places and some with 6 (the sixth being for a seconds field). Furthermore, I see some flavors which support `?` character as a valid input while other variants do not.

To what standard or what set of variants does this library try to adhere to?

[2019-05-28 09:21] john30 commented on #158
looks good for me

[2019-06-10 11:19] harrisiirak commented on #159
@jhorbulyk it supports standard set (`*,-` etc) of the syntax + some non-standard characters (`#?/`). Definitely, the documentation could be improved to reflect supported functionality in a better way.

[2019-06-12 03:43] ijunbin opened #161 "what is the different between startDate and currentDate"
i  have confused between the option param startDate and currentDate ,because i find the the describe 'currentDate - Start date of the iteration'  from README
but what is the startDate option do?

[2019-06-29 02:49] xmabul commented on #156
@coolnk2001  HELP~ I have meet the same problem,do you solve it ？

[2019-06-29 09:19] harrisiirak commented on #156
@coolnk2001 @xmabul can you provide any reference to other cron implementation that supports this behavior as described in issue description?

What I'm seeing here:

- `0 */2 * ? * *` - this wildcard range which means that any minute value from `0` to `59`
- `0 1-40/2 * ? * *` - this is a partial range (`1` to `40`) which is also acceptable and step modifier can be applied
- `0 1/2 * ? * *` - this

[2019-07-10 07:53] kaos commented on #156
I see your reasoning for this. I don't know if there's a "cron standard" that dictates what is right or wrong here, but could I suggest to translate a non-range value to a ranged one when used with a step modifier. So `0/n` would be the same as `*/n` and `10/2` would become `10-59/2` when used for the minute field, for example.

This to work more transparently with what we have with the cron suppo

[2019-07-16 12:37] kkdev163 opened #164 "is the parse result right ? '0 5/10 * * * *'"
I expect to get time series like this:
10:05  10:15 10:25 10:35...

but the parse result is like:
10:05  11:05 12:05 13:05.

is the current parse result right?

to get my expect parse result,i should write the expression like this: '0 5,15,25,35,45,55 * * * *'.

[2019-07-17 01:42] 15190480986 commented on #164
I had the same problem.
If the expression'3/40 1/3 * * * ?' or '*/20 */2 * * * ?' , the parser cannot return the result correctly.

[2019-07-17 07:40] kaos commented on #164
what you want is most likely `0 5-59/10 * * *`
The step modifier (`/10` in this case) works within a range, not from a single value.

[2019-07-21 16:18] harrisiirak commented on #156
@kaos

Yeah, it sounds to be the most logical behaviour that most people expect of this. However, `10/2` could also mean `0-10/2`, therefore it may be somehow confusing for the user if this automagical expansion happens. Sure, this could be documented.

The other option, maybe even clearer/cleaner way to handle this, could be returning an error when an explicit range is not provided with step modi

[2019-07-21 16:19] harrisiirak commented on #164
Duplicate of #156

[2019-07-21 16:19] #164 closed

[2019-07-22 13:26] xiannv opened #165 "Cannot find module "./data/packed/latest.json""
#### There is a error
![image](https://user-images.githubusercontent.com/24910356/61636001-52416e80-acc7-11e9-8cba-ee5caa06ba7e.png)

[2019-07-22 13:27] xiannv commented on #165
+ cron-parser@2.12.0

[2019-07-22 14:09] harrisiirak commented on #165
@xiannv can you help me understand how this error is related to `cron-parser` package?

[2019-07-26 10:44] #165 closed

[2019-07-31 12:53] ahuggins-nhs commented on #161
The behavior is pretty easy to test. startDate behaves as a point in time at which the cron schedule begins, whereas currentDate sets the start of the iteration of possible points in time where the schedule occurs and is generally the current point in time if not set.

[2019-08-05 17:06] Soperf opened #166 "dayOfWeek has a bug ,eg:'0 0 0 ? * MONL'"
dayOfWeek has a bug ,eg:'0 0 0 ? * MONL'

[2019-08-05 20:37] harrisiirak commented on #166
@Soperf can you elaborate what you're trying to achieve?

[2019-08-12 12:56] #166 closed

[2019-08-12 12:56] #159 closed

[2019-09-03 16:59] Eric24 opened #167 "Any plans to add support for L and W characters?"

[2019-09-11 12:41] Zaitsev opened #168 "Typescript CronExpression.next wrong declaration for iterator"
when using `parseExpression(cronString, {iterator: true, utc: true,});`  next() returns {done:bool,value:CronDate} but TS declaration is for _no-iterator_  mode only

[2019-09-17 06:42] hueniverse commented on #145
Closing due to lack of activity.

[2019-09-17 06:42] #145 closed

[2019-09-17 07:27] LoveofRedMoon opened #169 "Error Parsing expression '0/30 * * * * ?'"
Something may got different when parsing expression.

Expression '0/30 * * * * ?' means
run at   0 seconds per 30 seconds   on every minute

![image](https://user-images.githubusercontent.com/35391556/65019305-877fdb00-d95d-11e9-97ad-af81b59e2fa7.png)
When I see the code,  It may cause with this code.

'0/30' should parse to '0-59/30' not to '0'

so the code may modify to

![image](https://user-im

[2019-09-20 11:46] ph-fuergy opened #171 "Export moment or moment API"
Do you think is possible to export moment or moment API ( e.g. moment.format ).
Now I need to do:

[code]

I think more elegant would be call:

[code]

[2019-09-23 09:16] chiptus commented on #144
maybe just let the user supply instances for moment himself?

[2019-10-01 21:58] utsavk1993 opened #172 "Cron parser should not support jobs scheduled in seconds"
Ideally, Cron job cannot be used to schedule a job in a seconds interval. Can you provide an option to disable it and throw an error if some user schedules the job in seconds
E.g. `*/30 * * * *`

[2019-10-02 06:58] harrisiirak commented on #172
@utsavk1993 it sounds like a reasonable addition.

[2019-10-02 11:49] cartuchogl opened #173 "Day of month and days of week"
When combined in an expression both a day of the month and days of the week I believe that the behavior is incorrect.

I think the following test shows the problem.

[code]

I think all of the generated dates should be the first day of the month when match day of the week.

Previously I used [later](http://bunkat.github.io/later/) and if it shows this behavior.

Thanks.

[2019-10-02 12:02] harrisiirak commented on #173
@cartuchogl thanks for the report! Currently, this behavior is/seems to be expected.

https://pubs.opengroup.org/onlinepubs/007904975/utilities/crontab.html

Also: https://crontab.guru/#0_4_1_*_1-5 - produces the same result.

[2019-10-02 13:27] cartuchogl commented on #173
Thanks for your reply.

[2019-10-02 13:27] #173 closed

[2019-10-28 22:20] Eric24 commented on #153
A couple of thoughts:
1. As mentioned in #145, exposing `_fields` would make this cleaner that accessing `_fields` directly. Maybe just as a `fields()` function?
2. A simple `test()` or `match()` function would serve this purpose--pass in an object that contains one or more props that match the array names in `_fields` (only those passed in are tested, which gives the caller the ability to set the

[2019-11-13 16:20] dbhc opened #174 "Support for 7 Segment Parsing?"
Currently, adding the optional year segment to the cron expression breaks parsing.
Will support for this be added in the future?   (ie `0 0 14 ? * MON *`)

[2019-11-13 21:21] harrisiirak commented on #174
@dbhc what is your example use case? Year support isn't really part of default cron implementation, just mentioning.

[2019-11-15 22:00] dbhc commented on #174
I have an engine that schedules jobs.  (supports annual cron expressions)
I'm currently using this library as a way to parse cron expressions to display the next expected run time on the front end.
I currently have to sanitize the cron expression before parsing with cron-parser.

If the answer is no, there's no plans for annual parsing, that's alright too.
I was just asking to plan accordingly.
Th

[2019-11-18 19:24] wj-eurostar opened #175 "Types are incorrect when using es6 iterator flag"
When using the flag `iterator: true` the value returned by the iterator does not match the typescript types.

For this code:
[code]

The following error is shown.
`Property 'value' does not exist on type 'CronDate'.`

The methods such as toString, toDate etc are only accessible through interval.next().value.toString, interval.next().toDate when using this flag.

[2019-12-03 23:09] bryceg commented on #161
From looking at the code, I believe it's for iterating in reverse from currentDate using prev() or similar when defining your range of acceptable dates.

https://github.com/harrisiirak/cron-parser/blob/6eae107aef5cb137858ae5a79e8385c36e257b6b/lib/expression.js#L463

[2019-12-23 11:20] isikhi opened #176 "Week Variable New Year Wrong Parsing."
[code]
//Output is: 2019-12-24T11:00:00.000Z

But when I try to this option for
let spec = '0 0 11 23-28 2 3';
Output will be: `2020-02-05T11:00:00.000Z`
The output should be "At 11:00 on every day-of-month from 23 through 28 and on Wednesday in February.”

[2019-12-23 12:08] harrisiirak commented on #176
@isikhi please see this issue: https://github.com/harrisiirak/cron-parser/issues/173

Shortly:

This by design and RFC and is not going to change.

https://crontab.guru/#0_11_23-28_2_3
http://cron.schlitt.info/index.php?cron=0+11+23-28+2+3&iterations=10&test=Test

[2019-12-23 14:05] isikhi commented on #176
Actually i dont understand your examples. First one is okay for me but second one is not okay.
How can i know which one is selected?
I want to write an expression that run on wednesday on 4th week of February. how can i write that?

[2020-01-02 08:32] #176 closed

[2020-01-09 14:49] dianalaza opened #178 "prev() issue when cron expression contains 59 seconds"
Invoking prev() on a cron expression that have set seconds = 59 does not work ok. At every other invocation, only milliseconds are changed. Tested on 2.13.0
next() is working fine.

`const cronParser = require("cron-parser");

 let cron = cronParser.parseExpression("59 59 23 * * *");
 let i=0;
 while(i++<100){
        Logger.debug(`prev()= ${cron.prev().toISOString()}`);
 }
[Debug] prev()= 2020-01

[2020-01-13 18:39] tjk commented on #144
I have a port to luxon here: https://github.com/tjk/cron-parser/tree/luxon

Can it help this library at all?

[2020-01-16 13:25] KevinWang15 opened #179 "`0 0 1-3,12 * * *` good, `0 0 12,1-3 * * *` bad"
I think there is a bug here, both `0 1-3,12 * * *` and `0 12,1-3 * * *` should produce
[code]

however, `0 12,1-3 * * *` produces
[code]

[2020-01-16 13:41] KevinWang15 commented on #179
my quick & dirty fix:

[code]

[2020-01-26 19:13] harrisiirak commented on #179
@KevinWang15 thanks for reporting this! Yeah, this looks like a bug. I'll look into this coming days.

[2020-01-26 19:25] harrisiirak commented on #144
@tjk looks nice... but isn't ´luxon´ even heavier (judging this based on the package size) than ´moment-timezone´?

[2020-01-26 19:31] harrisiirak commented on #178
@dianalaza thanks for reporting this! Definitely a bug. I'll look into this as soon as possible.

[2020-01-26 21:07] tjk commented on #144
`moment-timezone` depends on `moment`, though. See here:

- https://bundlephobia.com/result?p=luxon@1.22.0
- https://bundlephobia.com/result?p=moment-timezone@0.5.27

[2020-02-23 18:20] Eric24 commented on #153
Here's what I ended up doing. Since you already have a dependency on `moment-timezone`, it's a pretty lightweight function:
[code]

[2020-02-23 19:05] Eric24 opened #180 "Adding a "this()" function?"
Any thoughts on adding a `this` function? Same logic as `next` and `prev`, but doesn't first move the "time pointer" forward or backward. I think it would be useful for getting the "first" interval after `parseExpression`, as well as possibly getting the "same" interval that was returned from the most recent `next` or `prev`.

PS - Maybe "this" isn't the best name for this function (although it is

[2020-05-07 15:54] tobiasjeckel commented on #175
Anyone know  a fix or workaround? Thanks

[2020-05-12 07:44] thangdo0212 opened #181 "Error: cron_parser__WEBPACK_IMPORTED_MODULE_25___default.a.parseExpression is not a function"
error when i run  simple expression

var parser = require('cron-parser');

try {
  var interval = parser.parseExpression('*/2 * * * *');

  console.log('Date: ', interval.next().toString()); // Sat Dec 29 2012 00:42:00 GMT+0200 (EET)
  console.log('Date: ', interval.next().toString()); // Sat Dec 29 2012 00:44:00 GMT+0200 (EET)

  console.log('Date: ', interval.prev().toString()); // Sat Dec 29 20

[2020-05-20 10:07] harrisiirak commented on #181
@thangdo0212 it's really hard to say anything without knowing what configuration is exactly used for Webpack. Can you provide a little bit more details? Thanks!

[2020-05-20 10:07] harrisiirak commented on #180
@Eric24 yep, sounds like a good idea.

[2020-05-20 11:23] #179 closed

[2020-05-20 11:24] harrisiirak commented on #179
@KevinWang15 sorry about the delay. Pushed the fix in 110a823. I'm using `localeCompare` to sort atoms before processing.

[2020-05-20 11:41] harrisiirak commented on #175
This library isn't currently supporting ES6 style iterators (neither the parser is compatible with it), therefore `next()` isn't returning correct iterator as you could expect.

The best you can do at this point: `cost obj = interval.next() as IteratorResult<CronDate>`

See #82

[2020-05-20 11:41] #175 closed

[2020-05-20 11:43] harrisiirak commented on #168
See comment here: https://github.com/harrisiirak/cron-parser/issues/175#issuecomment-631421735 and #82
We need better ES6 support here.

[2020-05-20 11:43] #168 closed

[2020-05-21 02:27] #181 closed

[2020-05-21 02:28] thangdo0212 commented on #181
Thank you. I have solved my problem

[2020-05-25 20:59] philkunz opened #184 "Make this module environment agnostic"
I think it would make sense to split off the environment specific use of node's fs module since parsing crontab syntax is more universal than nodejs.

1. There are browsers
2. there are other bundlers than webpack
3. and now there is deno.

[2020-05-25 22:40] harrisiirak commented on #184
@philkunz definitely a good idea. Also see #112

[2020-05-26 09:51] philkunz opened #185 "replace moment with dayjs"
switching from moment to dayjs would decrease bundle size by more than 95% since moment-timezone has a dependency to moment which is a pretty bloated package.

[2020-05-26 10:01] harrisiirak commented on #185
#144

[2020-05-26 10:07] #185 closed

[2020-05-26 10:15] harrisiirak commented on #161
`startDate` and `endDate` are optional parameters that defines possible date range for iteration. When the iteration reaches beyond these constraints, it will throw an exception.

[2020-05-26 10:15] #161 closed

[2020-05-26 11:15] philkunz commented on #144
I'm currently doing a rewrite of this lib in TypeScript with modern classes and dayjs (2KB bundled) as dependency.

[2020-05-26 11:22] harrisiirak commented on #169
Resolved by https://github.com/harrisiirak/cron-parser/commit/bce1a6ec0df32975bad02a30c06cf816d1d46961

[2020-05-26 11:22] #169 closed

[2020-06-05 07:21] shrutivardhan opened #187 "[00 00 * * *] expression does not create event for 00:00 time for a start date"
I am trying to create an event with the following cron expression : ["00 00 * * sat"] with following options
{"currentDate":"2020-06-06","endDate":"2020-06-06T23:59:59.000Z","iterator":true,"tz":"UTC"}.
Its not generating the event for 6th june. However if the expression is changed to ["00 01 * * sat"], the event is generated with the following date 2020-06-06T23:01:00.000Z.

[2020-06-05 07:39] harrisiirak commented on #187
@shrutivardhan can you please provide an example that generates such output?

I'm executing this pattern with following result: `Sat Jun 06 2020 01:00:00 GMT+0300`

[2020-06-05 07:51] shrutivardhan commented on #187
Sat Jun 06 2020 01:00:00 GMT+0300 is not the expected result ..
 Sat Jun 06 2020 00:00:00 GMT+0300 should have been created. following is the fhir repeat request that translates to .. generate events from 6th june to 6th June to 14th june at 00:00:00 once every week on a saturday.
{
            "period": 1,
            "periodUnit": "wk",
            "frequency": 1,
            "timeOfDay": [

[2020-06-05 09:26] harrisiirak commented on #187
Oh, I see. If you want to specify the iteration range, `startDate` must be provided (not `currentDate`).

[code]

Yields:

[code]

[2020-06-05 13:48] div-nick opened #188 "Supplying 1 Hour Range Results in Parse Error"
I am receiving a parse error when I try to supply a cron expression with a 1 hour time range.

This is the expression that I want parsed.
*/10 2-2 * * *

From my research on cron expressions, this should run every 10 minutes between 2:00am and 2:59am. As far as I can tell other ranges are parsed correctly.

[2020-06-05 14:04] harrisiirak commented on #188
Hi!

Technically it isn't actually correct range definition but I see that some implementations handle it as it is `*/10 2 * * *` (2-2 yields 2).

However, this can be handled fairly easily. I'll add this to the backlog.

[2020-06-05 14:06] #184 closed

[2020-06-15 11:54] harrisiirak commented on #187
@shrutivardhan did use of `startDate` solved your issue?

[2020-07-22 06:52] JounQin opened #190 "feature request: native ES module support"
I don't know have you considered rewriting this package with native ES module or TypeScript instead?

Or we can bundle it to ES module with `rollup`.

I'd glad to raise a PR if you agree.

[2020-07-24 13:09] shrutivardhan commented on #187
@harrisiirak  Thanks! It worked using startDate.

[2020-07-24 13:09] #187 closed

[2020-08-04 12:15] oliverjantar opened #191 "Cron expression with multiple ranges skips results"
Hi, some cron expressions with multiple ranges in hours will skip results.
Example: cron '0 1-3,8-12,15-18 * * *'

will result in:
01:00
02:00
03:00
15:00
16:00
17:00
18:00

skips:
08:00
09:00
10:00
11:00
12:00

It works fine with two ranges, but when there are more it starts to skip results.

[2020-08-04 12:28] harrisiirak commented on #191
@oliverjantar thanks for reporting this. Look like this commit introduced this issue: https://github.com/harrisiirak/cron-parser/commit/110a82352c4c4d598cd2dddcd0d42fbf2def573e

[2020-08-07 19:42] #191 closed

[2020-08-08 14:14] huineng opened #192 "Typescript error with version"
I have a typescript issue in your latest version "2.16.2"   typescript: 3.9.7

[code]

![image](https://user-images.githubusercontent.com/3482445/89712575-c3e66c00-d95f-11ea-96c1-6736a3a42601.png)

thanks

[2020-08-09 09:49] gotoashishgupta commented on #192
I concur. Got error
`node_modules/cron-parser/lib/index.d.ts(1,1): error TS2309: An export assignment cannot be used in a module with other exported elements.` version 2.16+

[2020-08-09 17:38] maplesteve commented on #192
Comes from this [commit](https://github.com/harrisiirak/cron-parser/commit/f5325886b74f9951a419a95dd1f368c2594e9217) which got merged though the check failed.
Update-PRs of some important repos of us are failing since then with the above error.

[2020-08-09 18:00] harrisiirak commented on #192
Reverted this change in `2.16.3`. Let me know how this works for you.

It was actually unrelated failure that was also fixed recently.

[2020-08-09 19:05] maplesteve commented on #192
Our update PRs are happy again. Thanks!!

[2020-08-09 23:37] huineng commented on #192
Perfect !

[2020-08-09 23:37] #192 closed

[2020-08-10 12:04] ySydorenko97 opened #193 "Value separator bug?"
I'm trying to check if the current time is valid for a cron expression. So i invoke `.prev()` first and then invoke `.next()`.
Here's an example:
currentDate: 'Fri, 14 Aug 2020 21:00:00 GMT'
cron: ''0 * * * 3,5''
`.prev()` result: 'Fri Aug 14 2020 20:00:00 GMT+0000'
`.next()` after invoke `.prev()`:  'Fri Aug 14 2020 21:00:00 GMT+0000'
Result: OK

But for cron with list of hours:
currentDate: 'Fri

[2020-08-14 10:36] oliverjantar commented on #191
Thanks for fixing this!

[2020-08-14 19:26] oavanruiten commented on #156
Hi @harrisiirak

Today I ran into the issue discussed above.

I also think that yielding an error is the way to go in this case. I use cron-parser together with other packages and this is causing inconsistencies.

Do you have any idea how straight-forward it is to add this?

[2020-08-15 12:34] oavanruiten commented on #156
Hi @harrisiirak

I am implementing an extra validation rule which checks each part of the cron expression against the following regex:

^\d{1,2}/\d{1,2}$

This should detect strings where specific, non-range values are used together with a step modifier, e.g. "0/5".

Do you see any immediate problems with this?

[2020-09-10 23:06] lucasheight opened #194 "Support for full dayOfWeek names"
Would love support for full dayOfWeek names.
Current situation is the backend has existing expressions that use full day names that wont parse using this library.

[2020-09-19 03:28] chaffeqa opened #195 "Substitute for moment.js"
momentjs is [officially not being supported](https://momentjs.com/docs/#/-project-status/) which makes sense... especially for this project which is 100% nodejs based afaik.

The fact that you have to install both momentjs and the locals to support this library (which is included in many other libraries that may not even use it... like we do for bulljs) it would be great if it was lighter in its d

[2020-09-19 13:25] harrisiirak commented on #195
@chaffeqa there have been some discussion in the past about replacing momentjs: https://github.com/harrisiirak/cron-parser/issues/144
Also, there is a pretty cool fork that uses luxon instead of momentjs: https://github.com/tjk/cron-parser

I haven't evaluated the idea of using luxon but what I'm seeing over that fork looks very promising. Other option is to use [DayJS](https://day.js.org) (\w [Ti

[2020-09-19 14:54] chaffeqa commented on #195
oooo nice! yeah i think the issue is that other libs use this one, such as https://github.com/OptimalBits/bull/blob/develop/package.json#L23

Actually looking at `date.js`... i think you made it very easy to move away from moment... let me see if i can find some time

[2020-09-24 08:42] fregante commented on #195
I don’t think this module should concern itself with timezones. If people want to run cronjobs on zones other than UTC, they can use their own library to add/subtract the hours (if a library is needed at all)

I’ve been looking for a lightweight crontab parser and I’ve found that they all weigh 500kb **minified**, which is a whole lot. Now I see why that is: Moment.

https://bundlephobia.com/resul

[2020-09-26 18:05] EstebanBorai commented on #156
Hi @oavanruiten !

I'm using this library too and also found myself in the same requirement.

I ended up using `cron-validator` [npm package](https://www.npmjs.com/package/cron-validator) to validate the syntax.

I think its a good workaround in this issue while the behavior is being defined!

[2020-10-29 06:58] elnygren commented on #195
https://github.com/luoxlgh/cron-parser fork that uses date-fns, ie. just regular `Date` which is almost certainly what we want here. If people want to use $TheirDateTypeOfChoice, they can just map to it from `Date`. That way this library can have minimal deps and generic but still useful for everyone functionality.

[2020-10-29 13:03] JeppeLarsen commented on #195
I have just published an npm-package called [lw-cron-parser](https://www.npmjs.com/package/lw-cron-parser) that excludes timezone functionality and utilizes Day.js instead of Moment-Timezone. I think this is the best alternative until pull request #196 is merged.
The project is forked from the newest version of cron-parser and utilizes Day.js@1.9.3.

[2020-10-29 13:20] fregante commented on #195
https://github.com/cheap-glitch/mi-cron

A collaborator of mine wrote this. It’s super small and just outputs a Date object which you can manipulate as you wish, if needed at all.

[2020-10-29 13:45] beerran commented on #174
Any updates on this? We need this aswell.
Using 7 segments is the default implementation of Quartz, which is a widely used tool for all types of scheduling.

[2020-11-03 23:14] baxang commented on #195
For me, time zone support completes this library 😃 so I hope the functionality remains.

[2020-11-06 15:26] Cynicszm opened #198 "Support for reversed ranges"
Any chance cron-parser will be able to support reversed ranges, like 23-01 in hours? Currently throws an invalid range in expression.js but should mean (23,00,01).

      if (safeIsNaN(min) || safeIsNaN(max) ||
          min < constraints[0] || max > constraints[1]) {
        throw new Error(
          'Constraint error, got range ' +
          min + '-' + max +
          ' expected range ' +

[2020-11-10 20:01] shubhamms opened #199 "Specific date or last day of the month"
Given that the library now supports Last Day of the Month, what are your thoughts on adding support for if the date of the month does not exist then move to last day of the month. eg cron '10 20 30/L * *' where it would run on 30th for each month except feb where it would run on the 28th or the 29th (leap year). @harrisiirak

[2020-11-10 20:23] harrisiirak commented on #198
@Cynicszm probably not as it isn't something that standard (or some subsets of its) cron behaviour support, therefore getting an error here is an expected behaviour.

[2020-11-10 20:31] harrisiirak commented on #194
Hi! @lucasheight

`cron-parser` already supports day of week abbreviations (mon,tue,wed etc). Technically it's possible to add full weekday names support, but again, this is something that isn't supported by the most of implementations - trying to keep it as lean as possible. If you would like to use full weekday names, you could always add extra translation step that converts long weekday names i

[2020-11-10 20:53] harrisiirak commented on #193
@ySydorenko97 thanks for reporting this, this is a bug!

[code]

Double `prev()` call seems to do the thing, but yeah, this isn't a expected behaviour, I'll look into this.

[2020-11-10 21:11] harrisiirak commented on #193
@ySydorenko97 actually, if I use my local timezone:

[code]

And actually, if you want to use UTC, you need to provide relevant timezone:

[code]

[2020-11-10 21:15] lucasheight commented on #194
No worries. A work around was fairly easy to implement.

[2020-12-13 12:39] GaborTorma opened #200 "test functionality"
I create a test funcionality for your praser.

You can implement it, if you want:

[code]

[2020-12-23 11:04] Floriskoch commented on #171
@ph-fuergy I added a PR for this: https://github.com/harrisiirak/cron-parser/pull/201

[2021-01-01 16:23] harrisiirak commented on #200
@GaborTorma Hi! Can you elaborate a bit more what for this function is meant for? As a testing utility?

[2021-01-01 16:45] GaborTorma commented on #200
You can test any date for the date meets any cron item.
For examples:
[code]

Inspirated by this: https://www.npmjs.com/package/cron-test

[2021-01-01 16:53] harrisiirak commented on #171
@ph-fuergy @Floriskoch as momentjs itself is now deprecated, we're planning to move away from it (see https://github.com/harrisiirak/cron-parser/issues/195). So yeah, that said, I would avoid adding anything momentjs specific to this library.

I understand that this elegant and convenient way to handle/manipulate data instances, but this isn't really something that belongs to the core functionalit

[2021-01-01 16:53] #171 closed

[2021-01-01 17:01] #198 closed

[2021-01-01 17:04] harrisiirak commented on #193
@ySydorenko97 does this needs any further investigation or explanation?

[2021-01-01 17:19] harrisiirak commented on #174
@beerran no updates at this point.

Yes, however cron-parser isn't currently fully compatible with Quartz implementation. Still, this feature as such is still worth to consider (and prioritize!) and it stays open as feature reguest, but I don't have any ETA for that - any PR for that functionality is welcome.

[2021-01-01 17:37] harrisiirak commented on #199
@shubhamms can you eloborate on this a bit more?

Isn't the behaviour you're describing already working? When I use pattern `10 20 31,L * *`:

- When 31st day of the month exists, it returns this day
- When 31st day of month doesn't exists, the last day of the month is being used

Example:

 ` ` `
Sun Jan 31 2021 20:10:00
Sun Feb 28 2021 20:10:00
Wed Mar 31 2021 20:10:00
Fri Apr 30 2021 20:10:00

[2021-01-04 22:09] shubhamms commented on #199
Hi @harrisiirak it works for 31,L but for 30,L it would be something like 30th and last day of the month. I was hoping we could do something like if the day of the month doesnt exist then run it on the last day of the month otherwise run it on the specified day. I looked at the code and I dont think it is doable because the check is done for each day. It would be possible if the next run date is c

[2021-01-04 22:33] harrisiirak commented on #199
@shubhamms oh, now I see what are thinking about, basically: "try to match 30th day of the month and if there is less days in the month, fallback to the last day of the month". The main issue here is that the standard cron pattern handling/matching doesn't support such behaviour (correct me, if I'm wrong), mixing such logic with sequences or intervals is rather confusing, therefore it also may nee

[2021-01-04 22:40] shubhamms commented on #199
Yeah you are right I also came to the same conclusion. It is not a standard cron behavior and to implement what I want we would have to do something different than what this lib does. If you come across something that works like how I explained let me know. Otherwise I am ok for now. Thanks for checking :)

[2021-01-04 22:40] #199 closed

[2021-01-05 11:04] ySydorenko97 commented on #193
@harrisiirak No, it's clear. Thank you for the answer.

[2021-01-05 11:12] #193 closed

[2021-01-09 17:58] NodePing opened #205 "Day of the month not honored when day of the week included"
The day of the month doesn't appear to be calculated in with the next iteration if you also include the day of the week.

This cron expression, 0 5 2-8 * 4, should be "5 am on the 2nd through the 8th of the month if it's a Thursday" - so basically the second Thursday of each month.  When 'Thursday' is included, it completely ignores the 2-8 days of the month.

'Sat Jan 09 2021 17:48:39 GMT+0000 (C

[2021-01-09 19:05] harrisiirak commented on #205
@NodePing please see #173

Shortly:

[2021-01-09 20:27] NodePing commented on #205
My apologies.  I should have researched it more thoroughly.  Please delete or close this issue.

[2021-01-09 20:27] #205 closed

[2021-01-10 14:28] nemanjapetrovic commented on #33
Hi @harrisiirak ,

it seems that this bug is happening again with the latest release.

Here is my log:

Cron time: * * * * * (every minute)
Running time: 2021-01-10 15:24:48.860
Next run time: Sun Jan 10 2021 15:25:00 GMT+0100 (Central European Standard Time)

*Next run time has been printed out without any formatting*

Js code I am trying:

[code]

[2021-01-10 14:45] harrisiirak commented on #33
@nemanjapetrovic initial report (and fix afterwards) was about seconds not being incremented when it's was present in the expresssion (so this part of the expression was completely ignored), in your case you even don't provide pattern for seconds, which means that 0 value will be be used for the matching.

![image](https://user-images.githubusercontent.com/185315/104125992-cb70cd80-5362-11eb-980d-

[2021-01-10 14:48] nemanjapetrovic commented on #33
@harrisiirak

Ah I see, I have to provide an additional `*` for seconds. Thanks! 👍

[2021-01-10 14:53] #195 closed

[2021-01-10 15:00] nemanjapetrovic commented on #33
@harrisiirak

One more question, why are seconds of the next run time always set to 0 if I would like to run cron in every 5 minutes?

[code]

As you can see below the next run time seconds are always 0. The correct next run time would be:

[code]

Example:
![image](https://user-images.githubusercontent.com/15672932/104126430-cb6dcf00-535c-11eb-8a0b-7a2dfa2dc721.png)

[2021-01-10 15:09] harrisiirak commented on #144
With new `cron-parser@3.0.0` (switched from `moment-timezone` to `luxon`, thanks @andytson) there are some good news, bundle size is reduce around 4x.

[2021-01-10 15:09] #144 closed

[2021-01-10 15:13] andytson commented on #82
#203 is a PR that implements this

[2021-01-11 11:36] lerouxb opened #206 "toISOString() behaviour changed in v3"
[code]

V2 output:

[code]

V3 output:

[code]

I can hack it to get the previous behaviour by doing `prev._date._getUTC().toISOString()`, but that's a bit of a hack. Less of a hack but a bit of a pain could be something like `(new Date(prev.getTime())).toISOString();`

One can argue whether the previous behaviour was right or wrong (I can argue both sides) as it is arguably odd passing in a time

[2021-01-11 12:16] harrisiirak commented on #206
@lerouxb thanks for reporting this.

The idea behind `CronDate` is that its behaviour should be close to native `Date` implementation, therefore:

See more: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString

I would say that we would like to retain native `Date` (and the way how previous version with `moment` implemented this) behaviour here.

What I

[2021-01-11 12:44] dmitry-yudakov commented on #206
Note that `toString()` output is changed as well.

v2:
[code]

v3:
[code]

[2021-01-11 14:41] harrisiirak commented on #206
@dmitry-yudakov thanks, also a good point.

This can be possibly solved by passing the exactly the same format (defined ECMA-262 - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toString#description) to `toFormat` function and return its results instead:

[code]

Or well, even a simpler solution:

[code]

[2021-01-11 16:39] lerouxb commented on #206
Looks good. Any change we can get that as a 3.0.1 patch release? :)

[2021-01-12 16:45] #206 closed

[2021-01-12 16:51] harrisiirak commented on #206
@lerouxb fixed this in https://github.com/harrisiirak/cron-parser/releases/tag/3.1.0

[2021-01-21 10:42] mischahaenen opened #208 "BUG: global is not defined since angular v6"
Hello @Contributors
I am currently using your great project to convert cron expressions. When I've installed it, I had the error that global was not defined. I had a small workaround for this bug. I defined global myself in **polyfills.ts.** with **(window as any).global = window;**. Since angular v6, global is not defined by default. I was looking for another solution but found none, but I came a

[2021-01-21 10:55] harrisiirak commented on #200
Looks useful but nothing that should belong directly into the core of `cron-parser`, therefore closing this.

[2021-01-21 10:55] #200 closed

[2021-01-22 05:30] jayaprakash opened #209 "Invalid range: 23-23"
I wanted to execute at 23 hours every day.

Here is the cron exp:  0 0 23/24 * * *
cron options: {"currentDate":"2021-01-21T21:34:17.000+0000","utc":true}

parseExpression resulted in Invalid range. Any inputs?

[2021-01-22 08:50] harrisiirak commented on #209
@jayaprakash

For this you don't need any ranges or steps, right?
This should be achieved by this pretty basic pattern, by defining the hour value directly: `0 0 23 * * *`

There is also an open [ticket](https://github.com/harrisiirak/cron-parser/issues/156#issuecomment-506942668) for underlaying error. Steps without a valid range isn't allowed at this point.

[2021-01-22 08:59] harrisiirak commented on #208
@mischahaenen hi!

I'm not very familiar with Angular application build process anymore, at least it seems to be build process related issue. `cron-parser` itself doesn't use any global/window context as such, therefore I'm not completely sure what can be fixed from this side.

[2021-01-27 06:33] jayaprakash commented on #209
Thanks for the pointes. :)

[2021-01-27 06:33] #209 closed

[2021-02-08 16:06] ChBernat commented on #190
It would be appreciated for any Angular10 project.

[2021-02-18 14:59] regevbr opened #211 "Expose the parsed fields for UI purposes"
We want to create a UI to show and modify cron expressions. In order to so, we need to get the values of the different fields in the cron expression.

# Solution
The private field `_fields` can be exposed publicly to allow access

[2021-02-19 07:27] #208 closed

[2021-02-22 09:20] harrisiirak commented on #211
Just for historical tracking, once there was this related issue (#145).

[2021-02-22 09:37] regevbr commented on #145
@hueniverse  #212 will fix that soon

[2021-02-22 10:04] #211 closed

[2021-02-22 14:46] regevbr opened #213 "Feature: add support for serializing a cron expression instance into a string"
We want to be able to build a UI that takes a CRON expression string, parses it into a well-defined object that we can then build a UI for (i.e the now exposed `fields object from Cron #211) and then, after the user changes it, serialize it back into a valid Cron string so we can persist it in the DB.

This feature is not that straightforward as we need to compact the string as much as we can so i

[2021-02-22 15:37] regevbr commented on #213
The ideal flow:
1. Retrieve from DB the Cron string expression
2. Parse the expression
3. Use a copy of the exposed `fields` field to build a UI to represent the Cron
4. Let the user modify the corn (causing the `fields` copied value to be changed
5. Create a new `CronExpression` instance with the constructor directly, passing the modified `fields` value.
6. [the suggested feature] ===> Call the n

[2021-02-24 08:26] hueniverse commented on #145
Cool, thanks!

[2021-02-26 11:41] NoNameProvided opened #215 "Add support for specifying offset in the `*/n+x` format"
I would like to use the `*/n+x` format to specify an offset to my pattern. So the following example:
[code]
logically equals to
[code]

As workaround I can currently specify the desired behavior as

[code]

#### Current behavior:
A parsing error is thrown as this functionality is not supported currently.

[code]

#### Desired behavior

This pattern is supported.

[2021-02-26 13:15] harrisiirak commented on #215
@NoNameProvided

Hi!

Can you also please provide me some examples where such syntax is supported? This doesn't seem to be something that is defined in standard (or any extended) RFC.

[2021-03-04 11:23] #213 closed

[2021-03-08 02:10] NoNameProvided commented on #215
Hi!

Thanks for the reply! This is not part of any standard as far as I know, I have found some examples of this pattern while googling around. I found it intuitive and would like to use it, thus I opened this feature request. However, I can understand if only standardized features are supported in `cron-parser`. In that case, this issue can be closed.

[2021-03-15 02:23] sliently opened #216 "bug? . parseExpression "* * 10 8-14,22-28 * 0""
[code]

No 21 is set, but the next time 21 appears
![image](https://user-images.githubusercontent.com/29797646/111095527-95291780-8578-11eb-9ea1-04ef981e9f1b.png)

[2021-03-15 08:06] harrisiirak commented on #216
@sliently  please see #173

Shortly:

Which in your case translates to:

[2021-03-15 08:06] #216 closed

[2021-03-16 07:48] DevXiaolan commented on #215
maybe we can implements this in some "plugin-way"

[2021-03-16 16:50] harrisiirak commented on #215
Yes, I would like to keep it as close to UNIX cron format as possible (however, currently it also contains some non-standard features). As there is pretty sane workaround represented in standard format, I'm closing this one.

[2021-03-16 16:50] #215 closed

[2021-03-23 20:40] bazineta opened #217 "Incorrect test case, '10 2 12 8 6-7'"
This test case:
https://github.com/harrisiirak/cron-parser/blob/f36281a84612b84395b1b275c7e74a2e5e9b83f1/test/expression.js#L938
If I understand the expression correctly, should be “At 02:10 on day-of-month 12 and on every day-of-week from Saturday through Sunday in August.”

The test case appears to be looking for (in my time zone, at least), the following dates:

- Sat Aug 03 2013 02:10:00 GMT-0

[2021-03-23 21:01] harrisiirak commented on #217
@bazineta thanks for reporting this! It indeed looks like a bug.

When provided as a sequence (`10 2 12 8 6,7`) it provides the correct result.
And also, when the range doesn't contain Sunday (`10 2 12 8 5-6`), it also seems to behave as expected and provides the correct result.

[2021-03-24 03:32] bazineta commented on #217
Yes, additional test cases for work-alike ranges pass; it seems to be just the range parser that's affected. If I add the same normalization code to the vector path, the test passes, as do all the other tests, so it seems to not cause any regression.

I note that making that change essentially makes, other than iteration, the vector and scalar paths very similar, as, while there's a numeric conver

[2021-03-24 16:38] harrisiirak commented on #217
Created a quick fix/workaround for this bug: https://github.com/harrisiirak/cron-parser/commit/b35678c1ee7ef852dacc27c63212f1aa5193a7b5

I'll digest it a bit, maybe there is a bit better/cleaner solution for that.

[2021-03-26 03:35] egeersoz opened #218 ""Invalid expression, loop limit exceeded" when using timezone in options"
Running into this in version 3.3.0:

[code]

Code:
[code]
Results in:
[code]

It works if I remove the `tz` prop from the `options` object, but I need to specify the timezone. I also tried a string format for the date, but got the same error.

[2021-03-26 07:20] harrisiirak commented on #218
@egeersoz that is very strange, the same code works locally for me. What is your TZ environment where are running this code?

[2021-03-26 13:24] egeersoz commented on #218
I'm in America/Chicago.

[2021-03-26 13:57] egeersoz commented on #218
The CronExpression seems to get generated fine:

![image](https://user-images.githubusercontent.com/1009235/112642403-464d6e80-8e11-11eb-9c63-f600687933e9.png)

Calling `next()` on that results in the error though.

[2021-03-26 14:42] egeersoz commented on #218
I tried a few other timezones and they give the same error.

[2021-03-26 23:14] egeersoz commented on #218
I spent the entire afternoon troubleshooting this. According to the debugger, the following if block is always executed until the 10,000th iteration is reached and the error is thrown:

![image](https://user-images.githubusercontent.com/1009235/112701424-9bfc3800-8e5e-11eb-9c70-f1330ffa3978.png)

After finding this out, I tested it by removing the "day of month" from the cron and replacing it with

[2021-03-28 02:29] bazineta commented on #218
Triggering the loop limiter tends to be caused by passing an invalid `currentDate`. Given that your test case passes here for me as well, and since it's triggered on seemingly any time zone, is it possible that for whatever reason the Date object you're passing there is for some reason invalid, e.g., the usual `Date` is getting overridden by an import of the same name that doesn't like a no-arg co

[2021-03-28 03:58] bazineta commented on #178
I don't have a solution yet, but this seems to have been introduced by the fix to #98. That is, reverting the changes for that issue causes a test case for this issue to pass. Breaks the test case for that issue, as expected. It's seemingly got to be something right around here, though:
https://github.com/harrisiirak/cron-parser/blob/f36281a84612b84395b1b275c7e74a2e5e9b83f1/lib/expression.js#L628

[2021-03-28 04:12] bazineta commented on #178
I feel as if I'm getting closer to understanding this, but suspect that @santigimeno might find the problem to be more obvious than me.

[2021-03-28 12:46] bazineta commented on #178
Well, at least I understand it now.

At around line 628, we're in the handling for having been through a loop iteration and finding that nothing changed. Something has to change or we'll be there forever, and prior to #98, the code moved a second in the appropriate direction.

The fix for #98 avoids subtracting by a complete second when going in the reverse direction because that would be too far

[2021-03-28 12:48] harrisiirak commented on #218
@egeersoz I have tried to reproduced this locally (overriding my own local TZ) but without any luck. Can you provide any standalone (environment/application agnostic) test case that yields that error?

RunKit example: https://runkit.com/embed/nxy0igf6q11e

Yeah, that's is also something that I'm suspecting.

`options` seems to be a Observer?

[2021-03-28 19:12] egeersoz commented on #218
@bazineta I get the error if I plug in a String date as `currentDate`, as well. For example, `2021-03-27 00:00:01` has the same issue. So I don't think it's a problem with the Date object.

I tested Firefox and it works fine there... Chrome and Edge seem to have this problem. I don't have the ability to test on Safari.

Logging the CronExpression in the console shows this in Firefox:

![image](htt

[2021-03-29 12:02] bazineta commented on #178
I think this might actually be due to the way subtraction is handled in `date.js`. In month, day, hour and minute subtraction, the milliseconds are going to end up being 999. In second subtraction, they're going to be 0.

I think it follows that if they're always set to 0, i.e., append a `.startOf('second');` to the end of the month, day, hour and minute subtraction functions, this might just work

[2021-03-29 20:56] bazineta commented on #178
Test case:
[code]

Example change to date.js subtraction functions:
[code]
becomes:
[code]
Make the same change to the day, hour, and minute subtraction functions. The test case should fail before the change; it should pass after the change, as should all other test cases.

[2021-03-30 14:49] bazineta opened #219 "Coverage improvement questions"
I'm seeing if I can do something to improve coverage, and I think I've got a very complete set of tests now with respect to coverage on `expression.js`, with just two things I can't get coverage one. One of them I'm confused by, and the other I'm confounded by. Hoping that someone else will have some insight on these.

The first one, where I'm just confused, is here:
https://github.com/harrisiirak

[2021-03-30 16:52] harrisiirak commented on #219
Thanks for putting this together!

Yeah, I would say that one of them is duplicate and can be removed.

I'll investigate this a bit more, no clear idea about this atm. I can see that it was introduced in but #140 but in reality this code path is being never executed.

[2021-03-30 17:23] harrisiirak commented on #218
I built browser bundle by using `browserify` and it seems to be working as expected.

<img width="826" alt="Screenshot 2021-03-30 at 12 18 56" src="https://user-images.githubusercontent.com/185315/113029660-59579a00-9195-11eb-8071-9f9ab2999126.png">

Bundle was created with command: `browserify index.js -o bundle.js`

Usage:

<img width="718" alt="Screenshot 2021-03-30 at 12 18 40" src="https://us

[2021-04-04 06:26] bazineta opened #222 "Stringify, possible stepped range improvements"
I believe we can get better results from `stringify()` on stepped ranges by a couple of condition changes:
https://github.com/harrisiirak/cron-parser/blob/f36281a84612b84395b1b275c7e74a2e5e9b83f1/lib/field_stringify.js#L13
I think that changing `singleRange.end === max - step + 1` to `step > max - singleRange.end` will yield more opportunities to export ranges as `*/<step>`.

Likewise, here:
https

[2021-04-04 14:36] bazineta commented on #222
@regevbr Those two conditional changes seem to produce better results for any test case I hand them, and so far as I can see don't break anything.

`'1/5 * * * *'`: `1-56/5 * * * *` -> `'1/5 * * * *'`
`*/7 * * * *': `0-56/7 * * * *` -> `*/7 * * * *'`

Also to be clear, the '1/5,6/4 * * * *' thing isn't an issue to me, more just a fun result where stupid input equals stupid output.

[2021-04-04 14:43] regevbr commented on #222
@bazineta seems like a legit change to me. Can you work on a PR so @harrisiirak will be able to review it? I just submitted the change and I'm not the maintainer of the library. Of course, add more unit tests to support your case and make sure there is nothing else that can go wrong here.
About the funny case, indeed there is probably no way to cover such cases, or at least it is not worth investi

[2021-04-04 14:52] bazineta commented on #222
@regevbr Sure, I can do that; I've got a decent stable of unit tests to cover it now.

I figure that you are using this code live and will likely quickly see any issues from the change if you try it, so how about we do that for a few days, and then I'll do the PR?

And yeah, the funny case I just thought was neat. Your adjacency algorithm is very slick and works amazingly well at running the meat

[2021-04-04 15:08] regevbr commented on #222
@bazineta great!
Sadly we had to suspend the feature that initiated this addition so I can't help out with testing...
Thanks for the compliments :-) Indeed I don't think there is something wrong with it, but there is always room for improvement in every piece of code :-)

[2021-04-13 20:51] amortiz opened #223 "possible bug with a string such as 0 0 * 6 1"
shouldn't a cron string of 0 0 * 6 1 execute at times such as:
2021-06-07 00:00:00
2021-06-14 00:00:00
2021-06-21 00:00:00
2021-06-28 00:00:00
2022-06-06 00:00:00

However when i use cron-parser, i see

June 1, 2021 12:00:00 AM
June 2, 2021 12:00:00 AM
June 3, 2021 12:00:00 AM
June 4, 2021 12:00:00 AM
June 5, 2021 12:00:00 AM

It's as if the day-of-week and month parameters are not playing nice to

[2021-04-13 21:37] harrisiirak commented on #223
@amortiz thanks for reporting this. This is somehow related to #173 (and other similar reports from the past).

So basically:

Dissecting this:

month is an element (day of month is wildcard)

day of week is an element

- it will match if day of week is 1
- it will match if month is 6
- it will match if any day of month (1-31)

As day of month is wildcard, it will include all the days. It doesn't

[2021-04-13 22:36] amortiz commented on #223
@harrisiirak thanks for the response. So i was looking at https://crontab.guru/#0_0_*_6_1 , and it doesn't match up. I thought your response made sense for when day of week and day of month are both specified.

[2021-04-14 07:24] harrisiirak commented on #223
Yep, I've also used Crontab.guru in the past and it's incredibly useful tool. In this scenario, I don't think that they are actually implementing this behaviour correctly. At least, it seems that they are using some kind of weird shortcuts to solve this complexity of handling day of month/day of week/month simultaneous usage in the pattern.

If to humanize this expression by the specification, the

[2021-04-14 07:34] harrisiirak commented on #219
@bazineta do you have any questions about this or can close it down?

[2021-04-14 07:39] harrisiirak commented on #218
@egeersoz were you able to solve this, or is there any way I can further help to debug the issue, that you were experiencing?

[2021-04-14 13:06] amortiz commented on #223
@harrisiirak actually, after playing around with some more strings, I think there is a bug here.
when i do `0 0 * 6 1` as described above, it does every day in June as we discussed
however when i do `0 0 * 7 1` it does only every monday in july, and it matches what i think should be the correct behavior and crontab.guru

further, i realized that this "discrepancy" happens on all months that don't

[2021-04-14 13:23] bazineta commented on #219
At this point, I'm confident the first one is dead code, and I haven't been able to find any path to the second one no matter what test or time zone I threw at it, so yeah, pretty sure that's dead too and this can be closed down.

[2021-04-14 13:24] harrisiirak commented on #223
@amortiz a good catch. Indeed, looking this from that perspective, it looks like a bug to me. It seems that `isDayOfMonthWildcardMatch` returns false for non 31 day months when day of month value is asterisk. I'll investigate this.

[2021-04-14 13:25] #219 closed

[2021-04-14 15:26] harrisiirak commented on #223
@amortiz I actually found the bug and fix for it. 63b6d3edf5b8037aa31a1721e583d03a3af44a1e
However, I need to test it a bit more (tests are currently passing) and harden/improve existing tests.

[2021-04-14 23:05] egeersoz commented on #218
@harrisiirak Appreciate the follow-up! After spending two full days on this issue, I decided to go with a server-side solution to fetch the next occurrence date asynchronously once the page loads. I'll close this issue — thank you for your help.

[2021-04-14 23:05] #218 closed

[2021-04-20 16:28] #223 closed

[2021-04-20 17:15] harrisiirak commented on #178
@bazineta thanks for debugging this issue, the conclusion and insights are very useful here. The fix you suggested makes sense to me, therefore I created a PR with this fix (#225). Thanks again!

[2021-04-26 21:02] #178 closed

[2021-05-20 06:36] araskrj1992 opened #227 "Error while parsing L-1 or L-2"
Problem : Trying to parse the expression created for AWS

Expression: 0 30 9 L-2 * *

Error: `Uncaught (in promise) Error: Constraint error, got range NaN-2 expected range 1-31
    at parseRange (expression.js:314)
    at parseRepeat (expression.js:279)
    at parseSequence (expression.js:254)
    at Function._parseField (expression.js:346)
    at parse (expression.js:834)
    at Function.parse (e

[2021-06-16 02:18] hehejiuhuizhe opened #232 "Question about source code"
Hello, I'm looking into the source code for study, the following code confuses me:
[code]
When will the _date be less than prev? And why in "addMinute" and "addSecond ", there is "plus({ hours: 1 })"?
May someone help me?

[2021-06-20 23:14] harrisiirak commented on #227
Hi @araskrj1992!

This doesn't look like standard cron syntax (therefore not supported) or something that is widely used/supported. Do you have any link or reference to the service that is generating such cron syntax?

[2021-07-19 14:25] Arkh1 opened #233 "Parser throws error on valid cron string"
We have a valid cron string that is throwing an error when the parser attempts to parse it.
`"0 0/15 * ? * * *"`
Is there something about this cron string that is not supported by this parser?

[2021-07-19 15:39] harrisiirak commented on #233
Hi @Arkh1!

https://github.com/harrisiirak/cron-parser#supported-format

[code]

However, your input contains 7 space separated values/parts.

[2021-07-19 15:53] Arkh1 commented on #233
Is there any intention to implement year support with 7 value cron strings?

[2021-07-19 16:37] harrisiirak commented on #233
See more discussion about year support: https://github.com/harrisiirak/cron-parser/issues/174
There is a fork (based on `2.x` version) that contains 7 segment (and year) support, but no direct ETA for my side to support this functionality in this main version of `cron-parser`.

[2021-07-25 09:07] shrikant10 opened #234 "Returns diff output for similar cron time. Version 2.13.0"
Returns diff output for similar cron time. Version 2.13.0

[code]

Please check this.

[2021-07-25 11:21] #227 closed

[2021-07-25 11:26] harrisiirak commented on #234
Hi @shrikant10!

Can you please describe more precisely what is wrong/broken? 2.13.0 itself is rather old version.

[2021-08-02 07:27] #233 closed

[2021-08-02 16:52] Arkh1 opened #235 "Parsing and stringifying a cron string with "?" in it"
I have a cron string `0 0 9 * * ?`.  If I parse the cron string and then call `.stringify()` it is changed to `0 0 9 * * *`.

This appears to be caused by 173-178 of expression.js:
[code]

`?` and `*` are treated identically when parsed so become indistinguishable from one another after the initial parsing.  Furthermore in https://github.com/harrisiirak/cron-parser/blob/master/lib/field_stringify.

[2021-08-04 09:38] martian98 opened #236 "一些数据无法解析正确的表达式"
错误复现
[code]

通过查看源码发现  [field_stringify.js](https://github.com/harrisiirak/cron-parser/blob/8568b5093540ee9b5896b55fc40f9d619a7cef7d/lib/field_stringify.js#L13)  ** 第13-15行**

[code]

修改代码如下:

[code]

希望作者大大处理一下, 感谢!!!

[2021-08-16 12:17] amiram commented on #208
@harrisiirak I think this is by mistake. cron-parser is using this tree:
is-nan -> call-bind -> get-intrinsic -> has-symbols

has-symbols is using global in index.js:
[code]

However, I didn't see any usage of is-nan in cron-parser code. Canthis dependency be removed?

[2021-08-17 19:19] amiram commented on #208
@harrisiirak My mistake. It is used, but is it replaceable by something else? or do you know a way to override that in browser?

[2021-08-18 16:06] 2manyvcos opened #239 "stringify yields dayOfMonth ranges instead of wildcards"
When there is only one specific month in an expression, the resulting dayOfMonth array only includes the days that are possible for this month, instead of all possible values (1-31), because of this function: https://github.com/harrisiirak/cron-parser/blob/8568b5093540ee9b5896b55fc40f9d619a7cef7d/lib/expression.js#L368

However, the stringify function does not consider this behavior, so in this si

[2021-08-18 23:40] harrisiirak commented on #208
@amiram `is-nan` is used but I think we can remove this dependency and rely on built-in `Number.isNaN `.

[2021-08-18 23:40] #234 closed

[2021-08-18 23:51] harrisiirak commented on #235
Indeed, ? is currently handled as * and not supported as expected.  And also, no initial context is being tracked, therefore it's not possible to serialize this in this manner. No plans to support thtis at the moment.

[2021-08-18 23:59] harrisiirak commented on #236
@martian98 thanks for reporting this. Probably also related to the suggestion provided here: https://github.com/harrisiirak/cron-parser/issues/222 -- I'll investigate this when I've a bit more time.

[2021-08-19 10:05] rinorbytyci opened #240 "Running a cron-job every other week"
Is there a way to do this? E.g. schedule a job every other Wednesday using this library?

[2021-08-19 10:35] harrisiirak commented on #240
@rinorbytyci unfortunately `cron-parser` is not supporting such behaviour.

Historically, for some cron implementations this can be achieved as `0 0 1-7,15-21 * 3` but not here. It will match day of week and day of month both. See #173 for more details - shortly, I would like to intend to retain such behaviour (as it looks more like standard expects).

[2021-08-19 10:45] harrisiirak commented on #239
@hatsuo thanks for reporting this, I'll investigate this as soon as possible.

Yep, that should be the correct result. `stringifyField` doesn't have much context awareness and when serialization happens, it's using default constraints (1 - 31). I'm thinking that maybe when explicit month value is provided, we should override day of month constraints.

With default constraints, this code path is ne

[2021-09-07 20:47] alikomijani opened #242 "error on parsing Last week on month with char "L""
I get Validation error, cannot resolve alias "l" when using the "* * 4 ? * 3L" as corn expression
, or even get error when use "0 5 4 ? * 3L *"

[2021-09-07 21:16] harrisiirak commented on #242
Hi @alikomijani!

Based on your example, I would expect that you are trying to use L character with day of week field (only day of month is supported), unfortunately this isn't currently supported.
See supported format: https://github.com/harrisiirak/cron-parser#supported-format

[2021-09-07 21:36] #240 closed

[2021-09-08 08:32] chenyikun-hkj opened #243 "Can not work when bi weekly cron expression"
It doesn't work with this cron expression: `0 14 */14 * 3`
I have a requirement to do scheduler job every bi week Wednesday. Should I use other cron expression?
![image](https://user-images.githubusercontent.com/76093367/132474758-5a1f1b78-4f51-4211-9fa5-8ab4b579c102.png)

[2021-09-08 08:49] harrisiirak commented on #243
Hi @chenyikun-hkj!

Short answer is that it's not currently supported. See #240 and #173.
When day of week and day of month both are set and have distinct value, it behaves as logical or (and not as and).

[2021-09-20 14:07] HugoPoi commented on #156
`0 0 7 1 1/1 *` does this => `0 0 7 1 1 *`

[2021-09-22 10:32] lvqq opened #244 "Lack of minute should not pass the validation"
- cron-parser version: 4.0.0
- node: 14.16.0

as the title, when i use expression like `20 15 * *`, it pass the validation and becomes `* 20 15 * *` by default, i think the expression without minute should not pass the validation because minute is not optional but required.

also, the expression `20 15 * *` dose not pass the validation in other package or site like https://crontab.guru/

![image](

[2021-11-04 15:56] jerrens opened #246 "Wrong Date (off by one day) When Looking for 3rd Thursday of the Month at Noon"
When given the pattern `0 0 12 ? * 5#3`, which according to several online generators should return the 3rd Thursday of the month at noon, the cron-parser module returns the 3rd Friday of the month instead.

[code]

[2021-11-05 05:54] chenGITHUB123 opened #247 "problem"
\lib\expression.js

 if (atoms.length > 6) {
       throw new Error('Invalid cron expression');
     }

why right like this?

[2021-11-05 06:08] chenGITHUB123 commented on #247
it go wrong when the cron-expression like this '0 * * * * ? *'
when i remove the code ,it is right

[2021-11-05 08:02] harrisiirak commented on #247
@chenGITHUB123 Hi! What do you exactly want to achieve by removing this code block? This is part of the patter validation.

[2021-11-05 08:07] harrisiirak commented on #246
@jerrens Hi!

Do you have any example?

But this is what `5#3` defines, right? If you want Thursday, you should use `4#3`.

[2021-11-05 14:05] jerrens commented on #246
@harrisiirak Hello!

The online generators that I tried were:
https://www.freeformatter.com/cron-expression-generator-quartz.html
https://crontab.cronhub.io/

However, I just found another one today that matches your thoughts though - that 5#3 represents the 3rd Friday:
http://www.cronmaker.com/

Perhaps this is just a case where some programming languages represent Sunday = 1 and other have Monda

[2021-11-05 14:37] harrisiirak commented on #246
@jerrens in cron standard, day of week is defined as 0–6, where SUN=0 SAT=6 (`cron-parser` also supports 7 as SUN).

[2021-11-09 02:32] #246 closed

[2021-11-09 03:13] chenGITHUB123 commented on #247
when i got some cron-expression on this website(https://cron.qqe2.com/), i copy it to my code ,but it cannot be checked by this cron-parser, it throw new Error('Invalid cron expression')

[2021-11-09 07:59] harrisiirak commented on #247
Still not completely sure what do you exactly try to achieve here as `cron-parser` is supporting 5 + 1 schema (standard unix format + seconds).
Supported format: https://github.com/harrisiirak/cron-parser#supported-format

[2021-11-09 09:01] chenGITHUB123 commented on #247
ok, i got it . it does not surport 'year'.Thanks for your help.

[2021-11-09 09:21] harrisiirak commented on #247
No problem!

[2021-11-09 09:21] #247 closed

[2021-11-15 09:17] zlightm opened #248 "依赖项使用的版本有问题"
luxon@1.28.0->esdoc@1.1.0->minimist@1.2.0
minimist是一个解析参数选项模块。
此软件包的受影响版本（1.2.0）容易受到原型污染。
库可能会被诱骗使用构造函数或proto有效负载添加或修改Object.prototype的属性。

[2021-11-15 16:51] matthewpull opened #249 "Optionally disable cron extensions"
First of all, this library is amazing at so many things. Thank you for offering such a feature-rich module. However, for my project it actually has _too many_ features.

I want to use this to offer some QoL features on a frontend website (such as the next 5 times the cronjob would fire, to provide visual feedback when entering a cron expression). This website interacts with a backend system runnin

[2021-11-18 01:18] kotx opened #250 "Serializing an expression into a human-readable string"
E.g. [cron helper](https://cron.help/#*/5_*/12_*_*_*) turns `*/5 */12 * * *` into `Every 5 minutes during 12am and 12pm`. This would be useful for user input so they know they haven't messed up.

[2021-11-20 10:54] harrisiirak commented on #249
Hi @matthewpull!

Indeed it's sounds something (useful) to consider in the future. No ETA for this feature.

[2021-11-20 11:13] harrisiirak commented on #248
Hi @zlightm!

Could you elaborate where you're seeing such warning? And also, previously (when this issue was created) we're using `luxon@1.26.0`, now it's upgraded to `luxon@1.28.0` and I'm not seeing such warning.

[2021-11-20 11:23] harrisiirak commented on #244
Currently, [validation](https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L846-L863) of the input expression is rather lax, and if there isn't value specified for the field, it fills it with wildcard.

Throwing an error probably would make more sense indeed. Not sure if somebody out there is relying on this "undocumented feature", but changing it to throw an error should be

[2021-11-20 11:26] #248 closed

[2021-11-20 11:34] harrisiirak commented on #232
Hi @hehejiuhuizhe!

This code is meant to handle DST logic (when clock time moves backwards) and it ensures that we don't generate duplicate date.

Sorry about the delay!
I'll close this issue for now, but don't hesitate to re-open it if you have more questions.

[2021-11-20 11:34] #232 closed

[2021-11-22 00:26] hehejiuhuizhe commented on #232
Thanks for your reply!

[2021-11-22 01:42] zlightm commented on #248
是我们公司的测试扫描包版本，我大概看了下是luxon的devDependencies里面使用了esdoc，我们现在用别的办法暂时解决了一下(把包下下来删除这个依赖重新编辑)，但是不是长久之计，所以之前给你们提了一个issues。

[2021-11-25 06:15] PranavKuAn commented on #250
@kotx [cronstrue](https://github.com/bradymholt/cronstrue) does exactly this.

[2021-11-25 06:29] kotx commented on #250
yeah, I found that but it seems the way cron-parser parses cron entries is different from cronstrue.

[2021-11-27 05:37] lvqq commented on #244
Maybe it's a good idea to be part of `parseExpression` function option? To determine wheither there should be filled with wildcard

[2021-12-03 15:16] Irocktheworld9 commented on #227
I want to get the second last day of the month, **0 0 1 L-1 * ?** works in this [https://www.freeformatter.com/cron-expression-generator-quartz.html#cronexpressionexamples](url).

[2021-12-20 09:49] 759325100 commented on #174
@harrisiirak  any update?

[2021-12-20 10:04] johnnynanjiang opened #254 "It would be nice to support last x days, e.g. '0 0 0 L-3 * *' (3 days to the end of every month)"

[2021-12-22 10:29] harrisiirak commented on #254
HI @johnnynanjiang!

I've been trying to keep this library as lean as possible (with some minor deviations) and avoiding adding anything very complex that has impact to code complexity itself, or to the performance (everything has its cost). While `L-n` (and some other Quartz specific features) looks useful in some cases, greater impact needs to be evaluated. I'm not saying no (by not closing it a

[2021-12-22 10:30] harrisiirak commented on #174
@759325100 sorry, no updates :(

[2021-12-22 22:18] johnnynanjiang commented on #254
Thanks @harrisiirak for your detailed response, it makes sense.

We are using your library for our product for now, appreciate the great work. Hopefully we could have some time together to work on these new features.

[2022-01-06 07:47] 1401341324 opened #255 "with the parseExpression, How do i tell 0 or 7 is Sun ?"

[2022-01-14 11:46] mohsinamjad commented on #199
Hey @shubhamms were you able to solve this problem, I wanted to implement the exact same use-case e.g if cron is registered to 31 and month doesn't have 31 it should fallback to last day something like that.

[2022-01-27 07:42] sommmen commented on #190
Would also love this feature - please consider!

[2022-01-28 08:04] mohsinamjad commented on #255
In the docs it's written 0 is sunday but in actual it's giving saturday ?
are the docs not updated or is that an issue ?

[2022-01-28 08:04] mohsinamjad commented on #255
+1

[2022-01-28 08:57] harrisiirak commented on #255
Can you elaborate a bit more or an example that will not yield an expected result? As [supported format](https://github.com/harrisiirak/cron-parser#supported-format) section states:

Both, 0 and 7 are valid identifiers for Sunday.

[2022-01-28 14:19] mohsinamjad commented on #255
@harrisiirak so it was related to UTC option, when I passed UTC:true it started working fine but if I don't pass that param it subtracts one day maybe it's because of timezone.
I guess it should be mentioned in docs.

[2022-01-28 15:26] harrisiirak commented on #255
Yes, by default it uses your local time. [UTC option](https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L27-L28) just uses `UTC` as a timezone (you can also achieve the same by passing `tz: 'UTC'` through options) and there aren't currently any other side-effect caused by this. UTC and timezone usage is briefly [documented](https://github.com/harrisiirak/cron-parser#options)

[2022-01-28 15:46] mohsinamjad commented on #255
@harrisiirak great thanks

[2022-02-25 06:03] mengxy opened #257 "When using the ‘L’ option, it is important not to specify lists, or ranges of values, as you’ll get confusing/unexpected results"
http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/crontrigger.html

[2022-03-01 06:25] vkumbha-in opened #258 "Request for browser support"
Getting module not loaded for context when trying to use for a UI application. This is really useful library and wish it available for browser

[2022-03-09 19:36] githubajay1mishra opened #259 "Seems like 7L option does not work"
When i enter a cron expression `* * * * 7L`, parseExpression api `result.hasNext()` is false.

0-7 seems to work fine. With 0 and 7 being Sunday and 1 being Monday ....
0L-6L seems to work fine With 0L being last Sunday and 1L being Monday
But when i use 7L, does not really give back last Sunday of the month

[2022-03-09 20:26] harrisiirak commented on #259
@githubajay1mishra thanks for reporting this issue, it looks like abug.

[This line](https://github.com/harrisiirak/cron-parser/blob/master/lib/expression.js#L533) it's not taking account/not supporting 7 as weekday when `L` is used.

[2022-03-18 16:56] fazza4613 opened #261 "month 12 invalid range error"
When i parse 0 0 0 1 12/1 * i received this error:
**core.js:6014 ERROR Error: Invalid range: 12-12
    at parseRange**

i think for this code of expression.js
[code]
at line 327.

I receveid the same error when passing 0 0 0 1 13/1 * but in this case is correct because the range is 1-12

[2022-03-22 11:51] harrisiirak commented on #261
Hi @fazza4613!

This the same case as https://github.com/harrisiirak/cron-parser/issues/188. As mentioned this before, not definitely standard behaviour, but something that still could be supported.

[2022-03-22 11:53] #255 closed

[2022-03-28 03:55] zangguodong opened #262 "Should validate repeat string baisc format"
https://github.com/harrisiirak/cron-parser/blob/f687555f25ff0e4e12a951f3a4827b382436692f/lib/expression.js#L275

Due to not providing basic repeat atomic format validation, cron-parser sees format like
`10 16/17/18 * * *`
as valid, and parse it as  `10 16/17 * * *`. But `16/17/18` should not be correct format, isn't it?

<img width="544" alt="image" src="https://user-images.githubusercontent.com/2

[2022-03-29 07:03] pjxxcc opened #263 "next for skip day expression is wrong"
For this expression `0 0 0 1-3,5-31 * ?`, use `.next()` function get result is wrong.
See this code:
[code]

[2022-03-29 07:32] harrisiirak commented on #263
@pjxxcc thanks for reporting this! It looks like a bug indeed.

[2022-03-29 07:34] harrisiirak commented on #262
@zangguodong thanks for reporting this! It should throw an error indeed as it's in an invalid format.

[2022-03-29 07:35] #259 closed

[2022-04-06 12:28] amiram opened #265 "prev() is skipping the nearest event if it happened today"
When the cron represents a weekday and it happened today, prev() first event is a week before today.
Test that shows that:
[code]

Unless you set the currentDate to 04-07, prev always return 03-31.

[2022-04-06 16:22] emahuni commented on #174
Please this is a very useful use-case as this actually pins down a cron to run on a specific date.

[2022-04-11 12:19] iamsid opened #266 "Incorrect Next Interval"
Hi.
I have a cron expression `0 0 10 ? * MON` which translates to "at 10 am only on Monday" (https://crontab.cronhub.io/).
Passing this to cron-parser to fetch the next interval right now (11th April 2022) is returning 25th April 2022.
Although, there is a Monday on 18th.

I can see similar "rounding" of times as well. Running an expression like `0 0/2 * 1/1 * ? *` (run every 2 min) on say 11:08:2

[2022-04-11 12:49] harrisiirak commented on #266
Hi @iamsid!

Although, there is a Monday on 18th.

Do you have example code for that case? In my local environment it will generate dates that are expected.

Mon Apr 25 2022 10:00:00 GMT+0300 (Eastern European Summer Time)
Mon May 02 2022 10:00:00 GMT+0300 (Eastern European Summer Time)
Mon May 09 2022 10:00:00 GMT+0300 (Eastern European Summer Time)
Mon May 16 2022 10:00:00 GMT+0300 (Eastern Euro

[2022-04-11 13:04] iamsid commented on #266
Hi @harrisiirak
Looks like it was an incorrect configuration on my end. I was running the `next()` function twice. Sorry for the inconvenience.

[2022-04-11 13:04] #266 closed

[2022-05-01 08:59] #263 closed

[2022-05-01 09:05] harrisiirak commented on #263
Released fix in: https://github.com/harrisiirak/cron-parser/releases/tag/4.4.0

[2022-05-01 09:09] harrisiirak commented on #261
Currently closing this in favour of https://github.com/harrisiirak/cron-parser/issues/188 (duplicate).

[2022-05-01 09:09] #261 closed

[2022-05-01 09:11] harrisiirak commented on #258
Hi @vkumbha-in!

Do you get a specific issue/error that you're getting while trying to load this library in the browser context?

[2022-05-01 09:20] harrisiirak commented on #265
Hi @amiram!

Your cron expression translates to: `At 11:00 on Thursday.`

However `currentDate: new Date('2022-04-06T23:30:00.000Z')` (April of 6th) is Wednesday and when call `prev()` then indeed closest Thursday will be on Match of 31.

[2022-05-01 12:42] amiram commented on #265
Thanks @harrisiirak . Looking here https://www.freeformatter.com/cron-expression-generator-quartz.html I see that it translates to "At 11:00:00am, on every Wednesday, every month", not Thursday.

[2022-05-01 12:55] harrisiirak commented on #265
@amiram it's rather strange, and definitely not part of "classical standard". Day of week is usually in range 0-6 (or SUN–SAT), therefore 4 stands always for Thursday, not Wednesday. This is also described [here](https://github.com/harrisiirak/cron-parser#supported-format).

[2022-05-01 13:02] amiram commented on #265
It looks like you're right. I'll have to convert the value we're using since we use Amazon EventBridge and it is using 1-7. From Wikipedia: `The Amazon EventBridge implementation of cron does not use 0 based day of week, instead it is 1-7 SUN-SAT (instead of 0-6), as well as supporting additional expression features such as first-weekday and last-day-of-month.`

[2022-05-24 08:34] Jackman3005 opened #268 "Removing a day of week and then adding it again results in duplicate values exception"
Hello,

I am trying to use `cron-parser` in a UI environment where the user can toggle days of the week on and off. The result of the UI is a cron string that can then be sent and stored in the API.

I am parsing a cron string (`parseExpression`), breaking it into its fields then adjusting fields and recreating the cron string (`fieldsToExpression`).

There seems to be an issue when doing this wit

[2022-05-24 08:46] Jackman3005 commented on #268
Okay, thanks for the quick reply :)

[2022-05-24 11:06] Jackman3005 commented on #268
Thinking back, it makes my job a bit more difficult receiving both 0 and 7 back from the `fields.dayOfWeek` array. I have to check if either of these are here to make a decision on whether a job should be run on Sunday. Would be easier if it was always 0-6 in the output of `cron-parser` APIs but it supported `7` as an input for the scenarios where that's relevant.

[2022-06-03 15:15] greyscaled opened #269 "documentation: Document "fields" (Getter) in README"
## User Story 👥

Here there :wave: :wave:. I was initially evaluating using this library for the following use case:

- an API sends me a cron string
- I want to display a form with checkboxes and time inputs

PR here: https://github.com/coder/coder/pull/2006/files

To do this, I needed to parse day-of-week.

When I looked at this npm package/README, I saw that we could do some cool things, but I

[2022-06-20 10:38] pbellon opened #270 "How to manipulate cron fields to generate a cron-expression with "*/x" syntax?"
I'm trying to implement in an already working scheduling component based on `cron-parser` an "hourly" frequency to schedule stuff to run every `X` hours. In my mind this would have been similar to write a cron-expression like `20 */3 * * *` to run every `3` hours on minute `20`.

This seems to be working OK on small hourly frequency. To do that I generate an array of hours that matches the hourly

[2022-06-20 13:33] #270 closed

[2022-06-24 20:24] DonBrinn opened #271 "some time zone names are not handled, but could be with luxon v 2.4.0"
Steps to reproduce:

With cron-parser@4.4.0, which uses Luxon@1.28.0, run these commands:
[code]
Result:
[code]

It seems that simply upgrading to use Luxon version 2.4.0 would fix this.  Locally, if I force cron-parser to use Luxon@2.4.0, then running the same command as above successfully results in the following output rather than the error:
[code]

[2022-06-27 19:54] DonBrinn opened #273 "expression has inconsistent behaviour for time ranges that span Daylight Saving Time change"
Steps to reproduce:
[code]

[2022-06-28 08:29] harrisiirak commented on #271
Closed by #272

[2022-06-28 08:35] harrisiirak commented on #265
@amiram can we close this one?

[2022-06-28 10:09] #265 closed

[2022-06-29 02:40] rashagu opened #274 "not support `1W`"
cron-parser@4.5.0

4 1/2 5 1W 1 ?
[code]

[2022-06-29 02:42] rashagu opened #275 "got errors in vite"
[code]

[2022-06-29 07:31] harrisiirak commented on #274
Hi @rashagu ,

Please see supported format: https://github.com/harrisiirak/cron-parser#supported-format

[2022-06-29 07:35] harrisiirak commented on #275
Hi @rashagu,

Doesn't seem directly related to this library but can you please some example how you using cron-parser over there?

[2022-07-12 09:51] ptorrent opened #276 "Getting last date"
Hello,

Is there a method to get last date of an expression (with a endDate option set)?

Thanks for your help

[2022-07-14 01:50] neelkarma commented on #275
I think that error is happening because you're trying to use `cron-parser` in a browser environment - and browsers don't support node-only modules like `fs`.

[2022-07-26 03:22] NogaMan opened #277 "Upgrade luxon to v3"
Is there any plans to update luxon to `^3.1.0`?

[2022-07-29 07:36] #274 closed

[2022-07-29 07:36] #275 closed

[2022-07-29 07:38] harrisiirak commented on #276
Hi @ptorrent,

Iteration is working clockwise (from `startDate` to `endDate`), therefore there isn't any easy way (you need to iterate through whole range) to get the last date.

[2022-07-29 07:39] #258 closed

[2022-07-29 07:43] harrisiirak commented on #277
Hi @NogaMan,

Just noticed that `v3` came out. Don't see any blockers (`v2` had more breaking changes).

[2022-07-29 14:53] gentledev opened #278 "Cron expressions "Every 2, 3, 4, 5, 6 months" aren't working properly when currentDate is set"
Steps to reproduce:

    var cronExpression = "0 0 20 */6 *";  //  Every 6 months (At 00:00 on day-of-month 20 in every 6th month)

    // All of these "currentDates" generate the same wrong next dates starting from January.
    var options = {
      currentDate: '2022-02-20 00:00:00',
      //currentDate: '2022-03-20 00:00:00',
      //currentDate: '2022-04-20 00:00:00',
      //currentDate: '202

[2022-07-30 08:34] harrisiirak commented on #278
Hi @gentledev!

Can you explain what is exactly wrong with generated date values+ Based on described outputs, behaviour looks expected.

`*/6` translates as `1-12/6` which means that January/July both are considered as every 6 moths. And matching is absolute based on the values in the range. If you set iteration start date as `'2022-02-20 00:00:00'` then next possible match will be in July (and af

[2022-08-01 10:17] daydaychen opened #279 "The function stringifyField parse Incorrect, It parse hours `6-18/3` to `6/6`"
https://github.com/harrisiirak/cron-parser/blob/ec7a3844553d93bddac34d07c06245eae5579829/lib/field_stringify.js#L27-L28

[2022-08-01 10:51] harrisiirak commented on #279
Hi @daydaychen,

Thanks for reporting this. Can also please provide a code example?

Best regards,
Harri

[2022-08-01 11:49] daydaychen commented on #279
[code]

[2022-08-01 15:13] harrisiirak commented on #279
@daydaychen I'll investigate this.

[2022-08-02 14:13] gentledev commented on #278
Thanks so much for the explanation.

The problem wasn't this library. There isn't any cron expressions for doing what I wanted.

FOR INFORMATION PURPOSES, the closest cron expression would include the month list generated by a function providing the step and the starting month.
Here is an example:

[code]

Warning: This function can't handle 29, 30, or 31  day-of-month, and thinking about what I w

[2022-08-02 14:13] #278 closed

[2022-08-02 15:23] harrisiirak commented on #250
Currently there is no plan to support serializing an expression into a human-readable string. Closing it for now.

[2022-08-02 15:23] #250 closed

[2022-08-02 15:43] #239 closed

[2022-08-02 15:45] #277 closed

[2022-08-05 01:19] yanwuguangjun opened #281 "是不是不支持 typescript 4.1+ 能不能添加 支持"
是不是不支持 typescript 4.1+    能不能添加 支持

[2022-08-09 23:22] jduckles opened #282 "Day of month restrictions not being observed"
Day of month not being included in complex rules.

A rule like:
[code]

As I understand it, the above cron rule should only be able to run once per month, on a Wednesday dated between the 1st and 7th of the month. Yet `cron-parser` ignores the day of month part of the rule.

Reprex:
[code]

Output:
[code]
👆🏼 Should not be allowable on any date except those 1-7, why is the next date Aug 17th?

Usin

[2022-08-09 23:27] jduckles commented on #282
Ugh, this is apparently the expected behaviour 😭 per: https://superuser.com/questions/428807/run-a-cron-job-on-the-first-monday-of-every-month

[2022-08-09 23:27] #282 closed

[2022-08-12 01:02] philios33 commented on #235
I don't understand how "?" is expected to be supported anyway.  There are references online that it means "No specific value" in some cron implementations.  But if you don't care which specific day of the week it executes on, then this is the semantic equivalent of it being executed on ANY day of the week, thus "*" is the appropriate character.  What other meaning could there be?

[2022-09-08 14:09] MaxHam opened #284 "Possible bug: 0 12 1-31 * 1 is parsed incorrectly"
Hi,
the expression `0 12 1-31 * 1` should output dates that match every day-of-month **and** day-of-week since both fields are not `*`, but it outputs the same as  `0 12 * * 1` , which should only match the day-of-week, since day-of-month is `*`.

The output is:
- Mon, Sep 12, 2022, 14:00
- Mon, Sep 19, 2022, 14:00
- Mon, Sep 26, 2022, 14:00
- Mon, Oct 03, 2022, 14:00
- Mon, Oct 10, 2022, 14:00
-

[2022-09-15 15:02] sbruinsje opened #285 "cron-parser does not accept currentDate timestamp of 0"
Since version 3.0.0 of cron-parser it is not possible anymore to pass a currentDate timestamp of 0. It will be ignored and will instead use the current local time/date:

This will give a timestamp close to the local system time instead of the 60000 as I would expect:
[code]

This seems to be the cause: https://github.com/harrisiirak/cron-parser/blob/master/lib/date.js#L227. The `!timestamp` will g

[2022-09-26 07:55] zhangtengjin opened #286 "Can it support Year parsing?"
For example：0 15 10 * * ? 2020

[2022-09-26 08:23] zhangtengjin commented on #247
Hello, excuse me, why not support 'year'?

[2022-10-01 21:42] hueniverse opened #287 "1200% slower performance of next() and prev() upgrading to 4.6 from 2.3"
We recently upgraded the module from 2.3.7 to 4.6.0 and saw a huge performance degradation. When calling the `next()` method 10000 times, our benchmark went from 5000ms to 68000ms. Will provide more info as we dig deeper.

[2022-10-02 09:06] harrisiirak commented on #287
Hi @hueniverse!

Thanks for reporting this. 12x performance degradation doesn't sound good indeed.

I tested it briefly in my local environment and saw 3x - 5x slowdown, depending of the input expression. Individual `next` / `prev` calls still takes mostly less than `1ms`.

However, I tested my main hypothesis and benchmarked `2.18.0` and `3.0.0` ([code diff](https://github.com/harrisiirak/cron-pa

[2022-10-11 20:16] jellelicht opened #288 "weekday overrides day-of-month"
This might be me being new to cron expressions, but if I define both a weekday and a day-of-the-month in my cron expression, only the weekday seems to apply:
[code]

Which gives:
[code]

As you can see, the second example seems to just ignore the day-of-month construction (limited to 20).

Am I simply misunderstanding how these expressions are evaluated?

[2022-10-11 20:58] harrisiirak commented on #288
Hi @jellelicht!

I can check it out tomorrow, but currently it looks like the behaviour descibed [here](https://github.com/harrisiirak/cron-parser/issues/173#issuecomment-537460642), which is expected.

Best regards

[2022-10-12 09:39] harrisiirak commented on #288
Tested out `23 22 21 20 2 3`:

[code]

This aligns with expected behaviour: "At 21:22 on day-of-month 20 and on Wednesday in February."

[2022-10-18 16:28] #286 closed

[2022-10-18 16:29] #276 closed

[2022-10-18 16:53] harrisiirak commented on #281
Hi @yanwuguangjun!

Documentation was out of date and this library actually requires version `>= 4.2`. Updated in https://github.com/harrisiirak/cron-parser/commit/fefd0a23f334fa0120d619951c3e5900be8cd37e

[2022-10-18 16:53] #281 closed

[2022-10-18 17:03] harrisiirak commented on #285
Hi @sbruinsje!

Yes, this was intentional change made in #202. `0` should have never been valid value there. You should get the same result when passing in `new Date(0)` instead of `0`.

Best regards

[2022-10-24 10:48] harrisiirak commented on #287
Just a quick status update.

I looked more in-depth at `luxon`'s inner-workings and how it handles date-time (and timezone) calculations - I don't think there is anything that could be improved, in sense how `luxon` used in this library.

However, I think we can greatly reduce actual calls we're making to calculate/create new date objects during the iteration process. When the date is iterated, al

[2022-10-24 17:04] #288 closed

[2022-10-24 17:04] #285 closed

[2022-10-27 23:47] chengB12 commented on #153
This is what I do
`typescript
export function isTimeMatches(cronExpression: string, date: Date): boolean {
    const currentDate = date.valueOf()
    const parsed = cronParser.parseExpression(cronExpression, {
        // this is bug of cron-parser, if date is exact match current cronExpression,
        // current date will be missing from parsed, neither prev() nor next() would have current date

[2022-10-27 23:55] chengB12 opened #289 "When currentDate matches given cron expression, CronDate will miss current event"
[code]
if I am checking if there should be a match on '2020-01-02T00:00:00.000Z', we are out of luck

[2022-10-28 07:24] harrisiirak commented on #289
Hi @chengB12!

Which version of `cron-parser` you are currently using? The latest version produces expected output:

[code]

[2022-10-28 13:46] chengB12 commented on #289
I use "cron-parser": "^4.6.0", I still see this issue

[2022-11-06 20:17] KevinNovak opened #290 "Add field setters, ex: setMonth, setMinute, setSecond, etc?"
My application takes in a Cron expression from the user, and I want to adjust this schedule to set the seconds to 0.

It would be cool if cron-parser included a feature to manipulate the various schedule fields (rather than having to extract fields and re-parse), something like the following:

[code]

I can workaround this by pulling out fields (`interval.fields.minute`, etc) and then recreating a

[2022-11-07 20:41] klumba12 commented on #289
Hi @chengB12,

I see the same issue, current date itself is not present in the outcome

[2022-11-07 21:36] klumba12 commented on #289
I expect that first call of interval.next returns currentDate, is that right expectation?

[2022-11-07 21:47] harrisiirak commented on #289
Now I'm actually seeing the issue (for some reason I was thinking that there is something wrong with prev call behaviour). Yes @klumba12, your assumption is correct, it shouldn't skip current date if it matches and return it. I'll file it as a bug.

[2022-11-07 21:53] #235 closed

[2022-11-07 21:57] harrisiirak commented on #172
I'll close it in favour of https://github.com/harrisiirak/cron-parser/issues/249 (optionally disabling cron extensions)

[2022-11-07 21:57] #172 closed

[2022-11-07 22:24] harrisiirak commented on #290
Hi @KevinNovak!

Unfortunately this is currently the only way (also undocumented, therefore I can't really recommend it) how to modify/extend existing cron expression. I would avoid directly modifying parsed interval, instead of that, providing separate `CronExpressionBuilder` (or something similar to that) could be leaner and more usable approach.

What I've in my mind as a rough idea:

[code]

T

[2022-11-07 22:54] harrisiirak commented on #289
After some investigation I'll take my previous comment back: this is currently expected behaviour. If `currentDate` is already exactly matching with given cron pattern, next matching date after that will be matched when `next` is called.

If the date is set to `2020-01-02T00:00:00.000Z` and we call `next`, then currently the iteration logic expects that match has already happened (at `00:00`)  and

[2022-11-07 22:54] #289 closed

[2022-11-09 12:54] #188 closed

[2022-11-09 13:26] #217 closed

[2022-11-14 21:02] Yifeng-Sigma opened #293 "0 9 * 11 1 is not parsed correctly"
0 9 * 11 1 is "At 09:00 AM, only on Monday, only in November",
<img width="623" alt="image" src="https://user-images.githubusercontent.com/86254270/201764790-a4ff7148-bf19-4791-9998-53759ab61636.png">
But it's giving me Tuesday here.

[2022-11-14 21:07] Yifeng-Sigma commented on #293
fixed in 3.4.0

[2022-11-14 21:07] #293 closed

[2022-11-16 13:58] #262 closed

[2022-11-16 15:08] #268 closed